
<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head><meta http-equiv="Content-Style-Type" content="text/css" /><meta name="ROBOTS" content="NOINDEX, NOFOLLOW" /><title>

    Sign Up

</title>
    <link rel="shortcut icon" href="https://cdn.volunteer2.com/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdn.volunteer2.com/combres.axd/minimalVolunteerCss/-1999739599/minimalVolunteerCss.css"/>
    <style type="text/css">
        body,html{margin:0;padding:0;text-align:center;color:#000;font-size:13px}input{width:150px}
    </style>

<script type="text/javascript">
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-26840587-1']); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s) })();
</script>
<noscript></noscript>
<script type="text/javascript">
    var _prum = { id: "50c8871194fe9c0d1f000002" }; var PRUM_EPISODES = PRUM_EPISODES || {}; PRUM_EPISODES.q = []; PRUM_EPISODES.mark = function (b, a) { PRUM_EPISODES.q.push(["mark", b, a || new Date().getTime()]) }; PRUM_EPISODES.measure = function (b, a, b) { PRUM_EPISODES.q.push(["measure", b, a, b || new Date().getTime()]) }; PRUM_EPISODES.done = function (a) { PRUM_EPISODES.q.push(["done", a]) }; PRUM_EPISODES.mark("firstbyte"); (function () { var b = document.getElementsByTagName("script")[0]; var a = document.createElement("script"); a.type = "text/javascript"; a.async = true; a.charset = "UTF-8"; a.src = "//rum-static.pingdom.net/prum.min.js"; b.parentNode.insertBefore(a, b) })();
</script>
<noscript></noscript>
<script type="text/javascript">
    (function (_, e, rr, s) {
        _errs = [s]; var c = _.onerror; _.onerror = function () {
            var a = arguments; _errs.push(a);
            c && c.apply(this, a)
        }; var b = function () {
            var c = e.createElement(rr), b = e.getElementsByTagName(rr)[0];
            c.src = "//beacon.errorception.com/" + s + ".js"; c.async = !0; b.parentNode.insertBefore(c, b)
        };
        _.addEventListener ? _.addEventListener("load", b, !1) : _.attachEvent("onload", b)
    })
    (window, document, "script", "4fc8caaede28a4161c000521");
</script>
<noscript></noscript></head>
<body>
    <script src="https://cdn.volunteer2.com/res/jslocalizedstrings/17/en-US.js" type="text/javascript"></script><noscript></noscript>
    <script type="text/javascript" src="https://cdn.volunteer2.com/combres.axd/mustComeFirstJs/113213878/mustComeFirstJs.js"></script><noscript></noscript>
    <script type="text/javascript" src="https://cdn.volunteer2.com/combres.axd/signUpJs/2013793312/signUpJs.js"></script><noscript></noscript>
    <div id="MasterBannerHolder" class="MasterPageTopSectionBackgroundColor"   >
        <div id="MasterBannerInsideHolder" class="FullWidthCenteredForMaster"><img src="*********" alt="THE BIKE DEPOT" border="0" /></div>
    </div>
    <div style="width:934px; margin:0 auto; text-align:left;border:1px solid #cccccc;margin-top:28px;padding:33px;"> -->



<form id="NewUserContactDetailsForm" action="/Public/SignUp/NewUserContactDetails" method="post" enctype="application/x-www-form-urlencoded" >
    <table>
        <tr>
            <td>
                <label for="Username">Username:</label>
            </td>
            <td>
                <input id="Username" maxlength="100" name="Username" type="text" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' />
            </td>
        </tr>
        <tr>
            <td><label for="Password">Password:</label></td>
            <td><input id="Password" maxlength="50" name="Password" type="password" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' /></td>
        </tr>
            <tr>
            <td><label for="ConfirmPassword">Confirm Password:</label></td>
            <td><input id="ConfirmPassword" maxlength="50" name="ConfirmPassword" type="password" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' /></td>
        </tr>
        <tr>
            <td>
                <label for="NameTitle">Title:</label>
            </td>
            <td>
                <div class="watermarkText"><span id="NameTitleOver" class="over"></span><input class="overMe" id="NameTitle" maxlength="50" name="NameTitle" type="text" value="" /></div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="NameFirstName">First Name:</label>
            </td>
            <td>
                <input id="NameFirstName" maxlength="50" name="NameFirstName" type="text" value="" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' />
            </td>

        </tr>
        <tr>
            <td>
                <label for="NameMiddleName">Middle name:</label>
            </td>
            <td>
                <input id="NameMiddleName" maxlength="50" name="NameMiddleName" type="text" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="NameLastName">Last Name:</label>
            </td>
            <td>
                <input id="NameLastName" maxlength="50" name="NameLastName" type="text" value="" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' />
            </td>
        </tr>

            <tr>
            <td>
                <label for="NameSuffix">Suffix:</label>
            </td>
            <td>
                <div class="watermarkText"><span id="NameSuffixOver" class="over"></span><input class="overMe" id="NameSuffix" maxlength="50" name="NameSuffix" type="text" value="" /></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td><label for="AddressAddress1">Address Line 1:</label></td>
            <td><input id="AddressAddress1" maxlength="100" name="AddressAddress1" type="text" value="" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' /></td>
        </tr>
        <tr>
            <td><label for="AddressAddress2">Address Line 2:</label></td>
            <td><input id="AddressAddress2" maxlength="100" name="AddressAddress2" type="text" value="" /></td>
        </tr>
        <tr>
            <td>
                <label for="AddressCity">City:</label>
            </td>
            <td>
                <input id="AddressCity" maxlength="50" name="AddressCity" type="text" value="" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' />
            </td>
        </tr>

<tr>
    <td class="TopAlignMe LabelText"><label for="AddressCountryId">Country:</label></td>
    <td><select id="AddressCountryId" name="AddressCountryId" class="CountrySelect">

                <option id="AddressCountryIdCANADA" value="CANADA" > Canada</option>


                <option id="AddressCountryIdUSA" value="USA" selected='selected'> USA</option>


                <option id="AddressCountryIdUNITED_KINGDOM" value="UNITED KINGDOM" > United Kingdom</option>


                <option id="AddressCountryIdIRELAND" value="IRELAND" > Ireland</option>


                <option id="AddressCountryIdAUSTRALIA" value="AUSTRALIA" > Australia</option>


                <option id="AddressCountryIdNEW_ZEALAND" value="NEW ZEALAND" > New Zealand</option>


                <option id="AddressCountryIdAFGHANISTAN" value="AFGHANISTAN" > Afghanistan</option>


                <option id="AddressCountryIdALBANIA" value="ALBANIA" > Albania</option>


                <option id="AddressCountryIdALGERIA" value="ALGERIA" > Algeria</option>


                <option id="AddressCountryIdAMERICAN_SAMOA" value="AMERICAN SAMOA" > American Samoa</option>


                <option id="AddressCountryIdANDORRA" value="ANDORRA" > Andorra</option>


                <option id="AddressCountryIdANGOLA" value="ANGOLA" > Angola</option>


                <option id="AddressCountryIdANGUILLA" value="ANGUILLA" > Anguilla</option>


                <option id="AddressCountryIdANTARCTICA" value="ANTARCTICA" > Antarctica</option>


                <option id="AddressCountryIdANTIGUA" value="ANTIGUA" > Antigua</option>


                <option id="AddressCountryIdARGENTINA" value="ARGENTINA" > Argentina</option>


                <option id="AddressCountryIdARMENIA" value="ARMENIA" > Armenia</option>


                <option id="AddressCountryIdARUBA" value="ARUBA" > Aruba</option>


                <option id="AddressCountryIdAUSTRIA" value="AUSTRIA" > Austria</option>


                <option id="AddressCountryIdAZERBAIJAN" value="AZERBAIJAN" > Azerbaijan</option>


                <option id="AddressCountryIdBAHAMAS" value="BAHAMAS" > Bahamas</option>


                <option id="AddressCountryIdBAHRAIN" value="BAHRAIN" > Bahrain</option>


                <option id="AddressCountryIdBANGLADESH" value="BANGLADESH" > Bangladesh</option>


                <option id="AddressCountryIdBARBADOS" value="BARBADOS" > Barbados</option>


                <option id="AddressCountryIdBELARUS" value="BELARUS" > Belarus</option>


                <option id="AddressCountryIdBELGIUM" value="BELGIUM" > Belgium</option>


                <option id="AddressCountryIdBELIZE" value="BELIZE" > Belize</option>


                <option id="AddressCountryIdBENIN" value="BENIN" > Benin</option>


                <option id="AddressCountryIdBERMUDA" value="BERMUDA" > Bermuda</option>


                <option id="AddressCountryIdBHUTAN" value="BHUTAN" > Bhutan</option>


                <option id="AddressCountryIdBOLIVIA" value="BOLIVIA" > Bolivia</option>


                <option id="AddressCountryIdBOSNIA" value="BOSNIA" > Bosnia</option>


                <option id="AddressCountryIdBOTSWANA" value="BOTSWANA" > Botswana</option>


                <option id="AddressCountryIdBOUVET_ISLAND" value="BOUVET ISLAND" > Bouvet Island</option>


                <option id="AddressCountryIdBRAZIL" value="BRAZIL" > Brazil</option>


                <option id="AddressCountryIdBRUNEI_DARUSSALAM" value="BRUNEI DARUSSALAM" > Brunei Darussalam</option>


                <option id="AddressCountryIdBULGARIA" value="BULGARIA" > Bulgaria</option>


                <option id="AddressCountryIdBURKINA_FASO" value="BURKINA FASO" > Burkina Faso</option>


                <option id="AddressCountryIdBURUNDI" value="BURUNDI" > Burundi</option>


                <option id="AddressCountryIdCAMBODIA" value="CAMBODIA" > Cambodia</option>


                <option id="AddressCountryIdCAMEROON" value="CAMEROON" > Cameroon</option>


                <option id="AddressCountryIdCAPE_VERDE" value="CAPE VERDE" > Cape Verde</option>


                <option id="AddressCountryIdCAYMAN_ISLANDS" value="CAYMAN ISLANDS" > Cayman Islands</option>


                <option id="AddressCountryIdCENTRAL_AFRICAN_REPUBLIC" value="CENTRAL AFRICAN REPUBLIC" > Central African Republic</option>


                <option id="AddressCountryIdCHAD" value="CHAD" > Chad</option>


                <option id="AddressCountryIdCHILE" value="CHILE" > Chile</option>


                <option id="AddressCountryIdCHINA" value="CHINA" > China</option>


                <option id="AddressCountryIdCHRISTMAS_ISLAND" value="CHRISTMAS ISLAND" > Christmas Island</option>


                <option id="AddressCountryIdCOCOS_ISLANDS" value="COCOS ISLANDS" > Cocos Islands</option>


                <option id="AddressCountryIdCOLOMBIA" value="COLOMBIA" > Colombia</option>


                <option id="AddressCountryIdCOMOROS" value="COMOROS" > Comoros</option>


                <option id="AddressCountryIdCONGO" value="CONGO" > Congo</option>


                <option id="AddressCountryIdCOOK_ISLANDS" value="COOK ISLANDS" > Cook Islands</option>


                <option id="AddressCountryIdCOSTA_RICA" value="COSTA RICA" > Costa Rica</option>


                <option id="AddressCountryIdCOTE_D-IVOIRE" value="COTE D'IVOIRE" > Cote D'Ivoire</option>


                <option id="AddressCountryIdCROATIA" value="CROATIA" > Croatia</option>


                <option id="AddressCountryIdCUBA" value="CUBA" > Cuba</option>


                <option id="AddressCountryIdCYPRUS" value="CYPRUS" > Cyprus</option>


                <option id="AddressCountryIdCZECH_REPUBLIC" value="CZECH REPUBLIC" > Czech Republic</option>


                <option id="AddressCountryIdDENMARK" value="DENMARK" > Denmark</option>


                <option id="AddressCountryIdDJIBOUTI" value="DJIBOUTI" > Djibouti</option>


                <option id="AddressCountryIdDOMINICA" value="DOMINICA" > Dominica</option>


                <option id="AddressCountryIdDOMINICAN_REPUBLIC" value="DOMINICAN REPUBLIC" > Dominican Republic</option>


                <option id="AddressCountryIdECUADOR" value="ECUADOR" > Ecuador</option>


                <option id="AddressCountryIdEGYPT" value="EGYPT" > Egypt</option>


                <option id="AddressCountryIdEL_SALVADOR" value="EL SALVADOR" > El Salvador</option>


                <option id="AddressCountryIdEQUATORIAL_GUINEA" value="EQUATORIAL GUINEA" > Equatorial Guinea</option>


                <option id="AddressCountryIdERITREA" value="ERITREA" > Eritrea</option>


                <option id="AddressCountryIdESTONIA" value="ESTONIA" > Estonia</option>


                <option id="AddressCountryIdETHIOPIA" value="ETHIOPIA" > Ethiopia</option>


                <option id="AddressCountryIdFALKLAND_ISLANDS" value="FALKLAND ISLANDS" > Falkland Islands</option>


                <option id="AddressCountryIdFAROE_ISLANDS" value="FAROE ISLANDS" > Faroe Islands</option>


                <option id="AddressCountryIdFIJI" value="FIJI" > Fiji</option>


                <option id="AddressCountryIdFINLAND" value="FINLAND" > Finland</option>


                <option id="AddressCountryIdFRANCE" value="FRANCE" > France</option>


                <option id="AddressCountryIdFRENCH_GUIANA" value="FRENCH GUIANA" > French Guiana</option>


                <option id="AddressCountryIdFRENCH_POLYNESIA" value="FRENCH POLYNESIA" > French Polynesia</option>


                <option id="AddressCountryIdGABON" value="GABON" > Gabon</option>


                <option id="AddressCountryIdGAMBIA" value="GAMBIA" > Gambia</option>


                <option id="AddressCountryIdGEORGIA" value="GEORGIA" > Georgia</option>


                <option id="AddressCountryIdGERMANY" value="GERMANY" > Germany</option>


                <option id="AddressCountryIdGHANA" value="GHANA" > Ghana</option>


                <option id="AddressCountryIdGIBRALTAR" value="GIBRALTAR" > Gibraltar</option>


                <option id="AddressCountryIdGREECE" value="GREECE" > Greece</option>


                <option id="AddressCountryIdGREENLAND" value="GREENLAND" > Greenland</option>


                <option id="AddressCountryIdGRENADA" value="GRENADA" > Grenada</option>


                <option id="AddressCountryIdGUADELOUPE" value="GUADELOUPE" > Guadeloupe</option>


                <option id="AddressCountryIdGUAM" value="GUAM" > Guam</option>


                <option id="AddressCountryIdGUATEMALA" value="GUATEMALA" > Guatemala</option>


                <option id="AddressCountryIdGUINEA" value="GUINEA" > Guinea</option>


                <option id="AddressCountryIdGUINEA-BISSAU" value="GUINEA-BISSAU" > Guinea-Bissau</option>


                <option id="AddressCountryIdGUYANA" value="GUYANA" > Guyana</option>


                <option id="AddressCountryIdHAITI" value="HAITI" > Haiti</option>


                <option id="AddressCountryIdHONDURAS" value="HONDURAS" > Honduras</option>


                <option id="AddressCountryIdHONG_KONG" value="HONG KONG" > Hong Kong</option>


                <option id="AddressCountryIdHUNGARY" value="HUNGARY" > Hungary</option>


                <option id="AddressCountryIdICELAND" value="ICELAND" > Iceland</option>


                <option id="AddressCountryIdINDIA" value="INDIA" > India</option>


                <option id="AddressCountryIdINDONESIA" value="INDONESIA" > Indonesia</option>


                <option id="AddressCountryIdIRAN" value="IRAN" > Iran</option>


                <option id="AddressCountryIdIRAQ" value="IRAQ" > Iraq</option>


                <option id="AddressCountryIdISLE_OF_MAN" value="ISLE OF MAN" > Isle of Man</option>


                <option id="AddressCountryIdISRAEL" value="ISRAEL" > Israel</option>


                <option id="AddressCountryIdITALY" value="ITALY" > Italy</option>


                <option id="AddressCountryIdJAMAICA" value="JAMAICA" > Jamaica</option>


                <option id="AddressCountryIdJAPAN" value="JAPAN" > Japan</option>


                <option id="AddressCountryIdJORDAN" value="JORDAN" > Jordan</option>


                <option id="AddressCountryIdKAZAKHSTAN" value="KAZAKHSTAN" > Kazakhstan</option>


                <option id="AddressCountryIdKENYA" value="KENYA" > Kenya</option>


                <option id="AddressCountryIdKIRIBATI" value="KIRIBATI" > Kiribati</option>


                <option id="AddressCountryIdKOREA" value="KOREA" > Korea</option>


                <option id="AddressCountryIdKUWAIT" value="KUWAIT" > Kuwait</option>


                <option id="AddressCountryIdKYRGYZSTAN" value="KYRGYZSTAN" > Kyrgyzstan</option>


                <option id="AddressCountryIdLAO" value="LAO" > Laos</option>


                <option id="AddressCountryIdLATVIA" value="LATVIA" > Latvia</option>


                <option id="AddressCountryIdLEBANON" value="LEBANON" > Lebanon</option>


                <option id="AddressCountryIdLESOTHO" value="LESOTHO" > Lesotho</option>


                <option id="AddressCountryIdLIBERIA" value="LIBERIA" > Liberia</option>


                <option id="AddressCountryIdLIECHTENSTEIN" value="LIECHTENSTEIN" > Liechtenstein</option>


                <option id="AddressCountryIdLITHUANIA" value="LITHUANIA" > Lithuania</option>


                <option id="AddressCountryIdLUXEMBOURG" value="LUXEMBOURG" > Luxembourg</option>


                <option id="AddressCountryIdMACAU" value="MACAU" > Macau</option>


                <option id="AddressCountryIdMACEDONIA" value="MACEDONIA" > Macedonia</option>


                <option id="AddressCountryIdMADAGASCAR" value="MADAGASCAR" > Madagascar</option>


                <option id="AddressCountryIdMALAWI" value="MALAWI" > Malawi</option>


                <option id="AddressCountryIdMALAYSIA" value="MALAYSIA" > Malaysia</option>


                <option id="AddressCountryIdMALDIVES" value="MALDIVES" > Maldives</option>


                <option id="AddressCountryIdMALI" value="MALI" > Mali</option>


                <option id="AddressCountryIdMALTA" value="MALTA" > Malta</option>


                <option id="AddressCountryIdMARSHALL_ISLANDS" value="MARSHALL ISLANDS" > Marshall Islands</option>


                <option id="AddressCountryIdMARTINIQUE" value="MARTINIQUE" > Martinique</option>


                <option id="AddressCountryIdMAURITANIA" value="MAURITANIA" > Mauritania</option>


                <option id="AddressCountryIdMAURITIUS" value="MAURITIUS" > Mauritius</option>


                <option id="AddressCountryIdMAYOTTE" value="MAYOTTE" > Mayotte</option>


                <option id="AddressCountryIdMEXICO" value="MEXICO" > Mexico</option>


                <option id="AddressCountryIdMICRONESIA" value="MICRONESIA" > Micronesia</option>


                <option id="AddressCountryIdMOLDOVA" value="MOLDOVA" > Moldova</option>


                <option id="AddressCountryIdMONACO" value="MONACO" > Monaco</option>


                <option id="AddressCountryIdMONGOLIA" value="MONGOLIA" > Mongolia</option>


                <option id="AddressCountryIdMONTSERRAT" value="MONTSERRAT" > Montserrat</option>


                <option id="AddressCountryIdMOROCCO" value="MOROCCO" > Morocco</option>


                <option id="AddressCountryIdMOZAMBIQUE" value="MOZAMBIQUE" > Mozambique</option>


                <option id="AddressCountryIdMYANMAR" value="MYANMAR" > Myanmar</option>


                <option id="AddressCountryIdNAMIBIA" value="NAMIBIA" > Namibia</option>


                <option id="AddressCountryIdNAURU" value="NAURU" > Nauru</option>


                <option id="AddressCountryIdNEPAL" value="NEPAL" > Nepal</option>


                <option id="AddressCountryIdNETHERLANDS" value="NETHERLANDS" > Netherlands</option>


                <option id="AddressCountryIdNEW_CALEDONIA" value="NEW CALEDONIA" > New Caledonia</option>


                <option id="AddressCountryIdNICARAGUA" value="NICARAGUA" > Nicaragua</option>


                <option id="AddressCountryIdNIGER" value="NIGER" > Niger</option>


                <option id="AddressCountryIdNIGERIA" value="NIGERIA" > Nigeria</option>


                <option id="AddressCountryIdNIUE" value="NIUE" > Niue</option>


                <option id="AddressCountryIdNORFOLK_ISLAND" value="NORFOLK ISLAND" > Norfolk Island</option>


                <option id="AddressCountryIdNORWAY" value="NORWAY" > Norway</option>


                <option id="AddressCountryIdOMAN" value="OMAN" > Oman</option>


                <option id="AddressCountryIdPAKISTAN" value="PAKISTAN" > Pakistan</option>


                <option id="AddressCountryIdPALAU" value="PALAU" > Palau</option>


                <option id="AddressCountryIdPANAMA" value="PANAMA" > Panama</option>


                <option id="AddressCountryIdPAPUA_NEW_GUINEA" value="PAPUA NEW GUINEA" > Papua New Guinea</option>


                <option id="AddressCountryIdPARAGUAY" value="PARAGUAY" > Paraguay</option>


                <option id="AddressCountryIdPERU" value="PERU" > Peru</option>


                <option id="AddressCountryIdPHILIPPINES" value="PHILIPPINES" > Philippines</option>


                <option id="AddressCountryIdPITCAIRN" value="PITCAIRN" > Pitcairn</option>


                <option id="AddressCountryIdPOLAND" value="POLAND" > Poland</option>


                <option id="AddressCountryIdPORTUGAL" value="PORTUGAL" > Portugal</option>


                <option id="AddressCountryIdPUERTO_RICO" value="PUERTO RICO" > Puerto Rico</option>


                <option id="AddressCountryIdQATAR" value="QATAR" > Qatar</option>


                <option id="AddressCountryIdREUNION" value="REUNION" > Reunion</option>


                <option id="AddressCountryIdROMANIA" value="ROMANIA" > Romania</option>


                <option id="AddressCountryIdRUSSIAN_FEDERATION" value="RUSSIAN FEDERATION" > Russian Federation</option>


                <option id="AddressCountryIdRWANDA" value="RWANDA" > Rwanda</option>


                <option id="AddressCountryIdSAINT_KITTS_AND_NEVIS" value="SAINT KITTS AND NEVIS" > Saint Kitts And Nevis</option>


                <option id="AddressCountryIdSAINT_LUCIA" value="SAINT LUCIA" > Saint Lucia</option>


                <option id="AddressCountryIdSAMOA" value="SAMOA" > Samoa</option>


                <option id="AddressCountryIdSAN_MARINO" value="SAN MARINO" > San Marino</option>


                <option id="AddressCountryIdSAUDI_ARABIA" value="SAUDI ARABIA" > Saudi Arabia</option>


                <option id="AddressCountryIdSENEGAL" value="SENEGAL" > Senegal</option>


                <option id="AddressCountryIdSEYCHELLES" value="SEYCHELLES" > Seychelles</option>


                <option id="AddressCountryIdSIERRA_LEONE" value="SIERRA LEONE" > Sierra Leone</option>


                <option id="AddressCountryIdSINGAPORE" value="SINGAPORE" > Singapore</option>


                <option id="AddressCountryIdSLOVAKIA" value="SLOVAKIA" > Slovakia</option>


                <option id="AddressCountryIdSLOVENIA" value="SLOVENIA" > Slovenia</option>


                <option id="AddressCountryIdSOLOMON_ISLANDS" value="SOLOMON ISLANDS" > Solomon Islands</option>


                <option id="AddressCountryIdSOMALIA" value="SOMALIA" > Somalia</option>


                <option id="AddressCountryIdSOUTH_AFRICA" value="SOUTH AFRICA" > South Africa</option>


                <option id="AddressCountryIdSPAIN" value="SPAIN" > Spain</option>


                <option id="AddressCountryIdSRI_LANKA" value="SRI LANKA" > Sri Lanka</option>


                <option id="AddressCountryIdSUDAN" value="SUDAN" > Sudan</option>


                <option id="AddressCountryIdSURINAME" value="SURINAME" > Suriname</option>


                <option id="AddressCountryIdSWAZILAND" value="SWAZILAND" > Swaziland</option>


                <option id="AddressCountryIdSWEDEN" value="SWEDEN" > Sweden</option>


                <option id="AddressCountryIdSWITZERLAND" value="SWITZERLAND" > Switzerland</option>


                <option id="AddressCountryIdSYRIAN_ARAB_REPUBLIC" value="SYRIAN ARAB REPUBLIC" > Syrian Arab Republic</option>


                <option id="AddressCountryIdTAIWAN" value="TAIWAN" > Taiwan</option>


                <option id="AddressCountryIdTAJIKISTAN" value="TAJIKISTAN" > Tajikistan</option>


                <option id="AddressCountryIdTANZANIA" value="TANZANIA" > Tanzania</option>


                <option id="AddressCountryIdTHAILAND" value="THAILAND" > Thailand</option>


                <option id="AddressCountryIdTOGO" value="TOGO" > Togo</option>


                <option id="AddressCountryIdTOKELAU" value="TOKELAU" > Tokelau</option>


                <option id="AddressCountryIdTONGA" value="TONGA" > Tonga</option>


                <option id="AddressCountryIdTRINIDAD" value="TRINIDAD" > Trinidad And Tobago</option>


                <option id="AddressCountryIdTUNISIA" value="TUNISIA" > Tunisia</option>


                <option id="AddressCountryIdTURKEY" value="TURKEY" > Turkey</option>


                <option id="AddressCountryIdTURKMENISTAN" value="TURKMENISTAN" > Turkmenistan</option>


                <option id="AddressCountryIdTUVALU" value="TUVALU" > Tuvalu</option>


                <option id="AddressCountryIdUGANDA" value="UGANDA" > Uganda</option>


                <option id="AddressCountryIdUKRAINE" value="UKRAINE" > Ukraine</option>


                <option id="AddressCountryIdUNITED_ARAB_EMIRATES" value="UNITED ARAB EMIRATES" > United Arab Emirates</option>


                <option id="AddressCountryIdURUGUAY" value="URUGUAY" > Uruguay</option>


                <option id="AddressCountryIdUZBEKISTAN" value="UZBEKISTAN" > Uzbekistan</option>


                <option id="AddressCountryIdVANUATU" value="VANUATU" > Vanuatu</option>


                <option id="AddressCountryIdVENEZUELA" value="VENEZUELA" > Venezuela</option>


                <option id="AddressCountryIdVIET_NAM" value="VIET NAM" > Viet Nam</option>


                <option id="AddressCountryIdWESTERN_SAHARA" value="WESTERN SAHARA" > Western Sahara</option>


                <option id="AddressCountryIdYEMEN" value="YEMEN" > Yemen</option>


                <option id="AddressCountryIdZAMBIA" value="ZAMBIA" > Zambia</option>


                <option id="AddressCountryIdZIMBABWE" value="ZIMBABWE" > Zimbabwe</option>


                <option id="AddressCountryIdOTHER" value="OTHER" > Other</option>


        </select>
    </td>
</tr>
<tr>
    <td class="TopAlignMe LabelText"><label for="AddressProvinceId">State:</label></td>
    <td>
        <span class="ProvinceHolder" id="AddressProvinceIdHolder">
            <select id="AddressProvinceId" name="AddressProvinceId" class="ProvinceSelect">

                    <option id="AddressProvinceId00" class="" value="00"  > </option>


                    <option id="AddressProvinceIdE00" class="UNITED KINGDOM" value="E00"  > ( Not Applicable )</option>


                    <option id="AddressProvinceIdS01" class="UNITED KINGDOM" value="S01"  > Aberdeenshire</option>


                    <option id="AddressProvinceIdAL" class="USA" value="AL"  > Alabama</option>


                    <option id="AddressProvinceIdAK" class="USA" value="AK"  > Alaska</option>


                    <option id="AddressProvinceIdAB" class="CANADA" value="AB"  > Alberta</option>


                    <option id="AddressProvinceIdW01" class="UNITED KINGDOM" value="W01"  > Anglesey</option>


                    <option id="AddressProvinceIdS02" class="UNITED KINGDOM" value="S02"  > Angus</option>


                    <option id="AddressProvinceIdNI1" class="UNITED KINGDOM" value="NI1"  > Antrim</option>


                    <option id="AddressProvinceIdR01" class="IRELAND" value="R01"  > Antrim</option>


                    <option id="AddressProvinceIdS03" class="UNITED KINGDOM" value="S03"  > Argyllshire</option>


                    <option id="AddressProvinceIdAZ" class="USA" value="AZ"  > Arizona</option>


                    <option id="AddressProvinceIdAR" class="USA" value="AR"  > Arkansas</option>


                    <option id="AddressProvinceIdNI2" class="UNITED KINGDOM" value="NI2"  > Armagh</option>


                    <option id="AddressProvinceIdR02" class="IRELAND" value="R02"  > Armagh</option>


                    <option id="AddressProvinceIdACT" class="AUSTRALIA" value="ACT"  > Australian Capital Territory</option>


                    <option id="AddressProvinceIdE01" class="UNITED KINGDOM" value="E01"  > Avon</option>


                    <option id="AddressProvinceIdS04" class="UNITED KINGDOM" value="S04"  > Ayrshire</option>


                    <option id="AddressProvinceIdS05" class="UNITED KINGDOM" value="S05"  > Banffshire</option>


                    <option id="AddressProvinceIdE02" class="UNITED KINGDOM" value="E02"  > Bedfordshire</option>


                    <option id="AddressProvinceIdE03" class="UNITED KINGDOM" value="E03"  > Berkshire</option>


                    <option id="AddressProvinceIdS06" class="UNITED KINGDOM" value="S06"  > Berwickshire</option>


                    <option id="AddressProvinceIdW02" class="UNITED KINGDOM" value="W02"  > Brecknockshire</option>


                    <option id="AddressProvinceIdBC" class="CANADA" value="BC"  > British Columbia</option>


                    <option id="AddressProvinceIdE04" class="UNITED KINGDOM" value="E04"  > Buckinghamshire</option>


                    <option id="AddressProvinceIdS07" class="UNITED KINGDOM" value="S07"  > Buteshire</option>


                    <option id="AddressProvinceIdW03" class="UNITED KINGDOM" value="W03"  > Caernarfonshire</option>


                    <option id="AddressProvinceIdS09" class="UNITED KINGDOM" value="S09"  > Caithness</option>


                    <option id="AddressProvinceIdCA" class="USA" value="CA"  > California</option>


                    <option id="AddressProvinceIdE05" class="UNITED KINGDOM" value="E05"  > Cambridgeshire</option>


                    <option id="AddressProvinceIdW05" class="UNITED KINGDOM" value="W05"  > Cardiganshire</option>


                    <option id="AddressProvinceIdR03" class="IRELAND" value="R03"  > Carlow</option>


                    <option id="AddressProvinceIdW04" class="UNITED KINGDOM" value="W04"  > Carmarthenshire</option>


                    <option id="AddressProvinceIdR04" class="IRELAND" value="R04"  > Cavan</option>


                    <option id="AddressProvinceIdE06" class="UNITED KINGDOM" value="E06"  > Cheshire</option>


                    <option id="AddressProvinceIdS10" class="UNITED KINGDOM" value="S10"  > Clackmannanshire</option>


                    <option id="AddressProvinceIdR05" class="IRELAND" value="R05"  > Clare</option>


                    <option id="AddressProvinceIdE07" class="UNITED KINGDOM" value="E07"  > Cleveland</option>


                    <option id="AddressProvinceIdCO" class="USA" value="CO" selected='selected' > Colorado</option>


                    <option id="AddressProvinceIdCT" class="USA" value="CT"  > Connecticut</option>


                    <option id="AddressProvinceIdR06" class="IRELAND" value="R06"  > Cork</option>


                    <option id="AddressProvinceIdE08" class="UNITED KINGDOM" value="E08"  > Cornwall</option>


                    <option id="AddressProvinceIdS08" class="UNITED KINGDOM" value="S08"  > Cromartyshire</option>


                    <option id="AddressProvinceIdE09" class="UNITED KINGDOM" value="E09"  > Cumberland</option>


                    <option id="AddressProvinceIdDE" class="USA" value="DE"  > Delaware</option>


                    <option id="AddressProvinceIdW06" class="UNITED KINGDOM" value="W06"  > Denbighshire</option>


                    <option id="AddressProvinceIdE10" class="UNITED KINGDOM" value="E10"  > Derbyshire</option>


                    <option id="AddressProvinceIdR07" class="IRELAND" value="R07"  > Derry</option>


                    <option id="AddressProvinceIdE11" class="UNITED KINGDOM" value="E11"  > Devon</option>


                    <option id="AddressProvinceIdDC" class="USA" value="DC"  > District of Columbia</option>


                    <option id="AddressProvinceIdR08" class="IRELAND" value="R08"  > Donegal</option>


                    <option id="AddressProvinceIdE12" class="UNITED KINGDOM" value="E12"  > Dorset</option>


                    <option id="AddressProvinceIdNI4" class="UNITED KINGDOM" value="NI4"  > Down</option>


                    <option id="AddressProvinceIdR09" class="IRELAND" value="R09"  > Down</option>


                    <option id="AddressProvinceIdR10" class="IRELAND" value="R10"  > Dublin 01</option>


                    <option id="AddressProvinceIdR11" class="IRELAND" value="R11"  > Dublin 02</option>


                    <option id="AddressProvinceIdR12" class="IRELAND" value="R12"  > Dublin 03</option>


                    <option id="AddressProvinceIdR13" class="IRELAND" value="R13"  > Dublin 04</option>


                    <option id="AddressProvinceIdR14" class="IRELAND" value="R14"  > Dublin 05</option>


                    <option id="AddressProvinceIdR15" class="IRELAND" value="R15"  > Dublin 06</option>


                    <option id="AddressProvinceIdR16" class="IRELAND" value="R16"  > Dublin 06W</option>


                    <option id="AddressProvinceIdR17" class="IRELAND" value="R17"  > Dublin 07</option>


                    <option id="AddressProvinceIdR18" class="IRELAND" value="R18"  > Dublin 08</option>


                    <option id="AddressProvinceIdR19" class="IRELAND" value="R19"  > Dublin 09</option>


                    <option id="AddressProvinceIdR20" class="IRELAND" value="R20"  > Dublin 10</option>


                    <option id="AddressProvinceIdR21" class="IRELAND" value="R21"  > Dublin 11</option>


                    <option id="AddressProvinceIdR22" class="IRELAND" value="R22"  > Dublin 12</option>


                    <option id="AddressProvinceIdR23" class="IRELAND" value="R23"  > Dublin 13</option>


                    <option id="AddressProvinceIdR24" class="IRELAND" value="R24"  > Dublin 14</option>


                    <option id="AddressProvinceIdR25" class="IRELAND" value="R25"  > Dublin 15</option>


                    <option id="AddressProvinceIdR26" class="IRELAND" value="R26"  > Dublin 16</option>


                    <option id="AddressProvinceIdR27" class="IRELAND" value="R27"  > Dublin 17</option>


                    <option id="AddressProvinceIdR28" class="IRELAND" value="R28"  > Dublin 18</option>


                    <option id="AddressProvinceIdR29" class="IRELAND" value="R29"  > Dublin 20</option>


                    <option id="AddressProvinceIdR30" class="IRELAND" value="R30"  > Dublin 22</option>


                    <option id="AddressProvinceIdR31" class="IRELAND" value="R31"  > Dublin 24</option>


                    <option id="AddressProvinceIdR32" class="IRELAND" value="R32"  > Dublin County</option>


                    <option id="AddressProvinceIdS11" class="UNITED KINGDOM" value="S11"  > Dumfriesshire</option>


                    <option id="AddressProvinceIdS12" class="UNITED KINGDOM" value="S12"  > Dunbartonshire</option>


                    <option id="AddressProvinceIdE13" class="UNITED KINGDOM" value="E13"  > Durham</option>


                    <option id="AddressProvinceIdS13" class="UNITED KINGDOM" value="S13"  > East Lothian</option>


                    <option id="AddressProvinceIdE14" class="UNITED KINGDOM" value="E14"  > East Sussex</option>


                    <option id="AddressProvinceIdE15" class="UNITED KINGDOM" value="E15"  > Essex</option>


                    <option id="AddressProvinceIdNI5" class="UNITED KINGDOM" value="NI5"  > Fermanagh</option>


                    <option id="AddressProvinceIdR33" class="IRELAND" value="R33"  > Fermanagh</option>


                    <option id="AddressProvinceIdS14" class="UNITED KINGDOM" value="S14"  > Fife</option>


                    <option id="AddressProvinceIdW07" class="UNITED KINGDOM" value="W07"  > Flintshire</option>


                    <option id="AddressProvinceIdFL" class="USA" value="FL"  > Florida</option>


                    <option id="AddressProvinceIdR34" class="IRELAND" value="R34"  > Galway</option>


                    <option id="AddressProvinceIdGA" class="USA" value="GA"  > Georgia</option>


                    <option id="AddressProvinceIdW08" class="UNITED KINGDOM" value="W08"  > Glamorgan</option>


                    <option id="AddressProvinceIdE16" class="UNITED KINGDOM" value="E16"  > Gloucestershire</option>


                    <option id="AddressProvinceIdE17" class="UNITED KINGDOM" value="E17"  > Hampshire</option>


                    <option id="AddressProvinceIdHI" class="USA" value="HI"  > Hawaii</option>


                    <option id="AddressProvinceIdE18" class="UNITED KINGDOM" value="E18"  > Herefordshire</option>


                    <option id="AddressProvinceIdE19" class="UNITED KINGDOM" value="E19"  > Hertfordshire</option>


                    <option id="AddressProvinceIdE20" class="UNITED KINGDOM" value="E20"  > Huntingdonshire</option>


                    <option id="AddressProvinceIdID" class="USA" value="ID"  > Idaho</option>


                    <option id="AddressProvinceIdIL" class="USA" value="IL"  > Illinois</option>


                    <option id="AddressProvinceIdIN" class="USA" value="IN"  > Indiana</option>


                    <option id="AddressProvinceIdS15" class="UNITED KINGDOM" value="S15"  > Inverness-shire</option>


                    <option id="AddressProvinceIdIA" class="USA" value="IA"  > Iowa</option>


                    <option id="AddressProvinceIdE21" class="UNITED KINGDOM" value="E21"  > Isle of Wight</option>


                    <option id="AddressProvinceIdKS" class="USA" value="KS"  > Kansas</option>


                    <option id="AddressProvinceIdE22" class="UNITED KINGDOM" value="E22"  > Kent</option>


                    <option id="AddressProvinceIdKY" class="USA" value="KY"  > Kentucky</option>


                    <option id="AddressProvinceIdR35" class="IRELAND" value="R35"  > Kerry</option>


                    <option id="AddressProvinceIdR36" class="IRELAND" value="R36"  > Kildare</option>


                    <option id="AddressProvinceIdR37" class="IRELAND" value="R37"  > Kilkenny</option>


                    <option id="AddressProvinceIdS16" class="UNITED KINGDOM" value="S16"  > Kincardineshire</option>


                    <option id="AddressProvinceIdS17" class="UNITED KINGDOM" value="S17"  > Kinross-shire</option>


                    <option id="AddressProvinceIdS18" class="UNITED KINGDOM" value="S18"  > Kirkcudbrightshire</option>


                    <option id="AddressProvinceIdS19" class="UNITED KINGDOM" value="S19"  > Lanarkshire</option>


                    <option id="AddressProvinceIdE23" class="UNITED KINGDOM" value="E23"  > Lancashire</option>


                    <option id="AddressProvinceIdR38" class="IRELAND" value="R38"  > Laois</option>


                    <option id="AddressProvinceIdE24" class="UNITED KINGDOM" value="E24"  > Leicestershire</option>


                    <option id="AddressProvinceIdR39" class="IRELAND" value="R39"  > Leitrim</option>


                    <option id="AddressProvinceIdR40" class="IRELAND" value="R40"  > Limerick</option>


                    <option id="AddressProvinceIdE25" class="UNITED KINGDOM" value="E25"  > Lincolnshire</option>


                    <option id="AddressProvinceIdNI3" class="UNITED KINGDOM" value="NI3"  > Londonderry</option>


                    <option id="AddressProvinceIdR41" class="IRELAND" value="R41"  > Longford</option>


                    <option id="AddressProvinceIdLA" class="USA" value="LA"  > Louisiana</option>


                    <option id="AddressProvinceIdR42" class="IRELAND" value="R42"  > Louth</option>


                    <option id="AddressProvinceIdME" class="USA" value="ME"  > Maine</option>


                    <option id="AddressProvinceIdMB" class="CANADA" value="MB"  > Manitoba</option>


                    <option id="AddressProvinceIdMD" class="USA" value="MD"  > Maryland</option>


                    <option id="AddressProvinceIdMA" class="USA" value="MA"  > Massachusetts</option>


                    <option id="AddressProvinceIdR43" class="IRELAND" value="R43"  > Mayo</option>


                    <option id="AddressProvinceIdR44" class="IRELAND" value="R44"  > Meath</option>


                    <option id="AddressProvinceIdW09" class="UNITED KINGDOM" value="W09"  > Merioneth</option>


                    <option id="AddressProvinceIdE26" class="UNITED KINGDOM" value="E26"  > Merseyside</option>


                    <option id="AddressProvinceIdMI" class="USA" value="MI"  > Michigan</option>


                    <option id="AddressProvinceIdE27" class="UNITED KINGDOM" value="E27"  > Middlesex</option>


                    <option id="AddressProvinceIdS20" class="UNITED KINGDOM" value="S20"  > Midlothian</option>


                    <option id="AddressProvinceIdMN" class="USA" value="MN"  > Minnesota</option>


                    <option id="AddressProvinceIdMS" class="USA" value="MS"  > Mississippi</option>


                    <option id="AddressProvinceIdMO" class="USA" value="MO"  > Missouri</option>


                    <option id="AddressProvinceIdR45" class="IRELAND" value="R45"  > Monaghan</option>


                    <option id="AddressProvinceIdW10" class="UNITED KINGDOM" value="W10"  > Monmouthshire</option>


                    <option id="AddressProvinceIdMT" class="USA" value="MT"  > Montana</option>


                    <option id="AddressProvinceIdW11" class="UNITED KINGDOM" value="W11"  > Montgomeryshire</option>


                    <option id="AddressProvinceIdS21" class="UNITED KINGDOM" value="S21"  > Morayshire</option>


                    <option id="AddressProvinceIdS22" class="UNITED KINGDOM" value="S22"  > Nairnshire</option>


                    <option id="AddressProvinceIdNE" class="USA" value="NE"  > Nebraska</option>


                    <option id="AddressProvinceIdNV" class="USA" value="NV"  > Nevada</option>


                    <option id="AddressProvinceIdNB" class="CANADA" value="NB"  > New Brunswick</option>


                    <option id="AddressProvinceIdNH" class="USA" value="NH"  > New Hampshire</option>


                    <option id="AddressProvinceIdNJ" class="USA" value="NJ"  > New Jersey</option>


                    <option id="AddressProvinceIdNM" class="USA" value="NM"  > New Mexico</option>


                    <option id="AddressProvinceIdNSW" class="AUSTRALIA" value="NSW"  > New South Wales</option>


                    <option id="AddressProvinceIdNY" class="USA" value="NY"  > New York</option>


                    <option id="AddressProvinceIdNF" class="CANADA" value="NF"  > Newfoundland and Labrador</option>


                    <option id="AddressProvinceIdE28" class="UNITED KINGDOM" value="E28"  > Norfolk</option>


                    <option id="AddressProvinceIdNC" class="USA" value="NC"  > North Carolina</option>


                    <option id="AddressProvinceIdND" class="USA" value="ND"  > North Dakota</option>


                    <option id="AddressProvinceIdE31" class="UNITED KINGDOM" value="E31"  > North Humberside</option>


                    <option id="AddressProvinceIdE32" class="UNITED KINGDOM" value="E32"  > North Yorkshire</option>


                    <option id="AddressProvinceIdE29" class="UNITED KINGDOM" value="E29"  > Northamptonshire</option>


                    <option id="AddressProvinceIdN_T" class="AUSTRALIA" value="N T"  > Northern Territory</option>


                    <option id="AddressProvinceIdE30" class="UNITED KINGDOM" value="E30"  > Northumberland</option>


                    <option id="AddressProvinceIdNT" class="CANADA" value="NT"  > Northwest Territories</option>


                    <option id="AddressProvinceIdE33" class="UNITED KINGDOM" value="E33"  > Nottinghamshire</option>


                    <option id="AddressProvinceIdNS" class="CANADA" value="NS"  > Nova Scotia</option>


                    <option id="AddressProvinceIdNU" class="CANADA" value="NU"  > Nunavut</option>


                    <option id="AddressProvinceIdR46" class="IRELAND" value="R46"  > Offaly</option>


                    <option id="AddressProvinceIdOH" class="USA" value="OH"  > Ohio</option>


                    <option id="AddressProvinceIdOK" class="USA" value="OK"  > Oklahoma</option>


                    <option id="AddressProvinceIdON" class="CANADA" value="ON"  > Ontario</option>


                    <option id="AddressProvinceIdOR" class="USA" value="OR"  > Oregon</option>


                    <option id="AddressProvinceIdS23" class="UNITED KINGDOM" value="S23"  > Orkney</option>


                    <option id="AddressProvinceIdE34" class="UNITED KINGDOM" value="E34"  > Oxfordshire</option>


                    <option id="AddressProvinceIdS24" class="UNITED KINGDOM" value="S24"  > Peeblesshire</option>


                    <option id="AddressProvinceIdW12" class="UNITED KINGDOM" value="W12"  > Pembrokeshire</option>


                    <option id="AddressProvinceIdPA" class="USA" value="PA"  > Pennsylvania</option>


                    <option id="AddressProvinceIdS25" class="UNITED KINGDOM" value="S25"  > Perthshire</option>


                    <option id="AddressProvinceIdPE" class="CANADA" value="PE"  > Prince Edward Island</option>


                    <option id="AddressProvinceIdQC" class="CANADA" value="QC"  > Quebec</option>


                    <option id="AddressProvinceIdQLD" class="AUSTRALIA" value="QLD"  > Queensland</option>


                    <option id="AddressProvinceIdW13" class="UNITED KINGDOM" value="W13"  > Radnorshire</option>


                    <option id="AddressProvinceIdS26" class="UNITED KINGDOM" value="S26"  > Renfrewshire</option>


                    <option id="AddressProvinceIdRI" class="USA" value="RI"  > Rhode Island</option>


                    <option id="AddressProvinceIdR47" class="IRELAND" value="R47"  > Roscommon</option>


                    <option id="AddressProvinceIdS27" class="UNITED KINGDOM" value="S27"  > Ross-shire</option>


                    <option id="AddressProvinceIdS28" class="UNITED KINGDOM" value="S28"  > Roxburghshire</option>


                    <option id="AddressProvinceIdE35" class="UNITED KINGDOM" value="E35"  > Rutland</option>


                    <option id="AddressProvinceIdSK" class="CANADA" value="SK"  > Saskatchewan</option>


                    <option id="AddressProvinceIdS29" class="UNITED KINGDOM" value="S29"  > Selkirkshire</option>


                    <option id="AddressProvinceIdS30" class="UNITED KINGDOM" value="S30"  > Shetland</option>


                    <option id="AddressProvinceIdE36" class="UNITED KINGDOM" value="E36"  > Shropshire</option>


                    <option id="AddressProvinceIdR48" class="IRELAND" value="R48"  > Sligo</option>


                    <option id="AddressProvinceIdE37" class="UNITED KINGDOM" value="E37"  > Somerset</option>


                    <option id="AddressProvinceIdSA" class="AUSTRALIA" value="SA"  > South Australia</option>


                    <option id="AddressProvinceIdSC" class="USA" value="SC"  > South Carolina</option>


                    <option id="AddressProvinceIdSD" class="USA" value="SD"  > South Dakota</option>


                    <option id="AddressProvinceIdE38" class="UNITED KINGDOM" value="E38"  > South Humberside</option>


                    <option id="AddressProvinceIdE39" class="UNITED KINGDOM" value="E39"  > South Yorkshire</option>


                    <option id="AddressProvinceIdE40" class="UNITED KINGDOM" value="E40"  > Staffordshire</option>


                    <option id="AddressProvinceIdS31" class="UNITED KINGDOM" value="S31"  > Stirlingshire</option>


                    <option id="AddressProvinceIdE41" class="UNITED KINGDOM" value="E41"  > Suffolk</option>


                    <option id="AddressProvinceIdE42" class="UNITED KINGDOM" value="E42"  > Surrey</option>


                    <option id="AddressProvinceIdE43" class="UNITED KINGDOM" value="E43"  > Sussex</option>


                    <option id="AddressProvinceIdS32" class="UNITED KINGDOM" value="S32"  > Sutherland</option>


                    <option id="AddressProvinceIdTAS" class="AUSTRALIA" value="TAS"  > Tasmania</option>


                    <option id="AddressProvinceIdTN" class="USA" value="TN"  > Tennessee</option>


                    <option id="AddressProvinceIdTX" class="USA" value="TX"  > Texas</option>


                    <option id="AddressProvinceIdR49" class="IRELAND" value="R49"  > Tipperary</option>


                    <option id="AddressProvinceIdNI6" class="UNITED KINGDOM" value="NI6"  > Tyrone</option>


                    <option id="AddressProvinceIdR50" class="IRELAND" value="R50"  > Tyrone</option>


                    <option id="AddressProvinceIdUT" class="USA" value="UT"  > Utah</option>


                    <option id="AddressProvinceIdVT" class="USA" value="VT"  > Vermont</option>


                    <option id="AddressProvinceIdVIC" class="AUSTRALIA" value="VIC"  > Victoria</option>


                    <option id="AddressProvinceIdVA" class="USA" value="VA"  > Virginia</option>


                    <option id="AddressProvinceIdE44" class="UNITED KINGDOM" value="E44"  > Warwickshire</option>


                    <option id="AddressProvinceIdWA" class="USA" value="WA"  > Washington</option>


                    <option id="AddressProvinceIdR51" class="IRELAND" value="R51"  > Waterford</option>


                    <option id="AddressProvinceIdS33" class="UNITED KINGDOM" value="S33"  > West Lothian</option>


                    <option id="AddressProvinceIdE45" class="UNITED KINGDOM" value="E45"  > West Midlands</option>


                    <option id="AddressProvinceIdE47" class="UNITED KINGDOM" value="E47"  > West Suffolk</option>


                    <option id="AddressProvinceIdE48" class="UNITED KINGDOM" value="E48"  > West Sussex</option>


                    <option id="AddressProvinceIdWV" class="USA" value="WV"  > West Virginia</option>


                    <option id="AddressProvinceIdE49" class="UNITED KINGDOM" value="E49"  > West Yorkshire</option>


                    <option id="AddressProvinceIdW_A" class="AUSTRALIA" value="W A"  > Western Australia</option>


                    <option id="AddressProvinceIdR52" class="IRELAND" value="R52"  > Westmeath</option>


                    <option id="AddressProvinceIdE46" class="UNITED KINGDOM" value="E46"  > Westmorland</option>


                    <option id="AddressProvinceIdR53" class="IRELAND" value="R53"  > Wexford</option>


                    <option id="AddressProvinceIdR54" class="IRELAND" value="R54"  > Wicklow</option>


                    <option id="AddressProvinceIdS34" class="UNITED KINGDOM" value="S34"  > Wigtownshire</option>


                    <option id="AddressProvinceIdE50" class="UNITED KINGDOM" value="E50"  > Wiltshire</option>


                    <option id="AddressProvinceIdWI" class="USA" value="WI"  > Wisconsin</option>


                    <option id="AddressProvinceIdE51" class="UNITED KINGDOM" value="E51"  > Worcestershire</option>


                    <option id="AddressProvinceIdWY" class="USA" value="WY"  > Wyoming</option>


                    <option id="AddressProvinceIdE52" class="UNITED KINGDOM" value="E52"  > Yorkshire</option>


                    <option id="AddressProvinceIdYT" class="CANADA" value="YT"  > Yukon</option>


            </select>

        </span>
        <script type="text/javascript">
            var CleanProvinceListAddressCountryId = $('#AddressProvinceId').clone();

            $(function () {
                //the original list
                 v2ResetProvinceListAddressCountryId($('#AddressCountryId'));

                $('#AddressCountryId').change(function () {
                    v2ResetProvinceListAddressCountryId($('#AddressCountryId'));

                });
            });

            function v2ResetProvinceListAddressCountryId(CountrySelect) {
                //sets the province list to be populated with provinces relevant to the country.
                var holder = $('#AddressProvinceIdHolder');
                var countryId = CountrySelect.val();
                var newList = CleanProvinceListAddressCountryId.clone();

                newList.children().each(function () {
                    if (!$(this).hasClass(countryId)) {
                        $(this).remove();
                    }
                });

                if (newList.children().length == 0) {
                    var hiddenControl = $('<input type="hidden" />').attr('id', 'AddressProvinceId').attr('name', 'AddressProvinceId').val('00');
                    holder.html(hiddenControl);
                }
                else {
                    holder.html(newList);
                }
            }



        </script><noscript></noscript>
    </td>
</tr>


        <tr>
            <td>
                <label for="AddressPostalCode">Zip Code:</label>
            </td>
            <td>
                <input id="AddressPostalCode" maxlength="10" name="AddressPostalCode" type="text" value="" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' />
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td> <label for="EmailAddressValue">Primary Email:</label></td>
            <td><input id="EmailAddressValue" maxlength="100" name="EmailAddressValue" type="text" value="email" /><img src='https://cdn.volunteer2.com/images/asterix.gif' class='RequiredFieldMarker LegendMe TipMe'  style='display:inline;' alt='Required' /></td>
        </tr>

        <tr>
            <td><label for="SecondaryEmailAddressValue">Secondary Email:</label></td>
            <td><input id="SecondaryEmailAddressValue" maxlength="100" name="SecondaryEmailAddressValue" type="text" value="" /></td>
        </tr>
        <tr>
            <td><label for="MobileEmailAddressValue">Mobile Email:</label></td>
            <td><input id="MobileEmailAddressValue" maxlength="100" name="MobileEmailAddressValue" type="text" value="" /></td>
        </tr>
        <tr>
            <td colspan="2">*Not available in all areas. <a href="http://en.wikipedia.org/wiki/List_of_SMS_gateways" target="_blank">Click here for details</a></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td><label for="HomePhoneNumber">Home Phone:</label></td>
            <td><input id="HomePhoneNumber" maxlength="25" name="HomePhoneNumber" type="text" value="" /></td>
        </tr>
        <tr>
            <td><label for="WorkPhoneNumber">Work Phone:</label></td>
            <td> <input id="WorkPhoneNumber" maxlength="25" name="WorkPhoneNumber" type="text" value="" /></td>
        </tr>
        <tr>
            <td><label for="WorkPhoneExtension">Work Extension:</label></td>
            <td><input id="WorkPhoneExtension" maxlength="10" name="WorkPhoneExtension" type="text" value="" /></td>
        </tr>
        <tr>
            <td><label for="CellPhoneNumber">Cell Phone:</label></td>
            <td><input id="CellPhoneNumber" maxlength="25" name="CellPhoneNumber" type="text" value="" /></td>
        </tr>

        <tr>
            <td>
                <label for="PhonePreferenceId">Phone Preference:</label>

            </td>
            <td>

<select id="PhonePreferenceId" name="PhonePreferenceId">

        <option id="PhonePreferenceId0" value="0" selected='selected'  >Not Specified</option>

        <option id="PhonePreferenceId1" value="1"   >Home In Morning</option>

        <option id="PhonePreferenceId2" value="2"   >Home In Afternoon</option>

        <option id="PhonePreferenceId3" value="3"   >Home In Evening</option>

        <option id="PhonePreferenceId4" value="4"   >Home Any Time</option>

        <option id="PhonePreferenceId5" value="5"   >Work In Morning</option>

        <option id="PhonePreferenceId6" value="6"   >Work In Afternoon</option>

        <option id="PhonePreferenceId7" value="7"   >Work In Evening</option>

        <option id="PhonePreferenceId8" value="8"   >Work Any Time</option>

        <option id="PhonePreferenceId10" value="10"   >Cell Phone In Morning</option>

        <option id="PhonePreferenceId11" value="11"   >Cell Phone In Afternoon</option>

        <option id="PhonePreferenceId12" value="12"   >Cell Phone In Evening</option>

        <option id="PhonePreferenceId9" value="9"   >Cell Phone Any Time</option>

</select>

            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>

        <tr>
            <td><label for="LanguageId">Language:</label></td>
            <td>
<select id="LanguageId" name="LanguageId">

        <option id="LanguageIdNot_Specified" value="Not Specified"  >Not Specified</option>

        <option id="LanguageIden-CA" value="en-CA"  >English (Canada)</option>

        <option id="LanguageIden-US" value="en-US" selected='selected' >English (USA)</option>

        <option id="LanguageIden-GB" value="en-GB"  >English (UK)</option>

        <option id="LanguageIden-AU" value="en-AU"  >English (Australia)</option>

        <option id="LanguageIdfr-CA" value="fr-CA"  >Franais (Canada)</option>

        <option id="LanguageIdes-ES" value="es-ES"  >Espaol</option>

        <option id="LanguageIdpt-PT" value="pt-PT"  >Portugus</option>

</select>
</td>
        </tr>

            <tr>
                <td colspan="2">
                    <input type="checkbox" id="AcceptOrganization" name="AcceptOrganization" value="True" class="required SkinnyCheckbox"  title="You must accept the volunteer policy"  /><label for="AcceptOrganization">I agree with the organization's policies.</label>
                    <p> Organization's Policies: </p>
                    <p>A volunteers must attend orientation prior to beginning volunteering.</p>
                </td>
            </tr>

        <tr>
            <td colspan="2" style="text-align:right;">
                <input type="submit" id="NewUserContactDetailsButton" name="NewUserContactDetailsButton" value="Save and Continue" />
            </td>
        </tr>
    </table>
    <input id="CommunityHubGUID" name="CommunityHubGUID" type="hidden" value="" />
<input id="OrganizationGUID" name="OrganizationGUID" type="hidden" value="1a32e143-de77-4ddf-8c9b-1b1ef9cfac44" />
<input id="SignUpFormId" name="SignUpFormId" type="hidden" value="1" />
<input id="CommunityHubName" name="CommunityHubName" type="hidden" value="" />
<input id="OrganizationName" name="OrganizationName" type="hidden" value="The Bike Depot" />
<input id="activityGUID" name="activityGUID" type="hidden" value="" />
<input id="IsNewCommunityHubMember" name="IsNewCommunityHubMember" type="hidden" value="False" />

<script type="text/javascript">

    function v2GetSignUpCommonModel() {
        var commonData = {};
        commonData.CommunityHubGUID = $('#CommunityHubGUID').val();
        commonData.OrganizationGUID = $('#OrganizationGUID').val();
        commonData.SignUpFormId = $('#SignUpFormId').val();
        commonData.CommunityHubName = $('#CommunityHubName').val();
        commonData.OrganizationName = $('#OrganizationName').val();
        commonData.activityGUID = $('#activityGUID').val();
        commonData.IsNewCommunityHubMember = $('#IsNewCommunityHubMember').val();

        return JSON.stringify(commonData);
    }

</script><noscript></noscript>
   </form>
       <!-- <div id="CommunityHubPolicyHolder" style="display:none;">

    </div>
    <div id="OrganizationPolicyHolder" style="display:none;">

<p>A volunteers must attend orientation prior to beginning volunteering.</p>

    </div>

   <script type="text/javascript">xVal.AttachValidator(null, {"Fields":[{"FieldName":"PhonePreferenceId","FieldRules":[{"RuleName":"DataType","RuleParameters":{"Type":"Integer"}},{"RuleName":"Range","RuleParameters":{"Min":"0","Type":"decimal"},"Message":"Phone preference is required"}]},{"FieldName":"Username","FieldRules":[{"RuleName":"Required","RuleParameters":{},"Message":"Username is required"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"6","MaxLength":"100"},"Message":"Username must be between 6 and 100 characters long"}]},{"FieldName":"Password","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"6","MaxLength":"50"},"Message":"Password must be between 6 and 50 characters long"},{"RuleName":"Required","RuleParameters":{},"Message":"Password is required"}]},{"FieldName":"ConfirmPassword","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"6","MaxLength":"50"},"Message":"Confirm Password must be between 6 and 50 characters long"},{"RuleName":"Required","RuleParameters":{},"Message":"Confirm Password is required"}]},{"FieldName":"NameFirstName","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"First name should be a maximum of 50 characters long"},{"RuleName":"Required","RuleParameters":{},"Message":"First name is required"}]},{"FieldName":"NameLastName","FieldRules":[{"RuleName":"Required","RuleParameters":{},"Message":"Last name is required"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"Last name should be a maximum of 50 characters long"}]},{"FieldName":"NameMiddleName","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"Middle name should be a maximum of 50 characters long"}]},{"FieldName":"NameTitle","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"Title should be a maximum of 50 characters long"}]},{"FieldName":"NameSuffix","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"Suffix should be a maximum of 50 characters long"}]},{"FieldName":"AddressAddress1","FieldRules":[{"RuleName":"Required","RuleParameters":{},"Message":"Address 1 is required"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"100"},"Message":"Address 1 should be a maximum of 100 characters long"}]},{"FieldName":"AddressAddress2","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"100"},"Message":"Address 2 should be a maximum of 100 characters long"}]},{"FieldName":"AddressCity","FieldRules":[{"RuleName":"Required","RuleParameters":{},"Message":"City is required"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"50"},"Message":"City should be a maximum of 50 characters long"}]},{"FieldName":"AddressCountryId","FieldRules":[{"RuleName":"Required","RuleParameters":{},"Message":"Country is required"}]},{"FieldName":"AddressPostalCode","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"10"},"Message":"Zip code should be a maximum of 10 characters long"},{"RuleName":"Required","RuleParameters":{},"Message":"Zip code is required"}]},{"FieldName":"EmailAddressValue","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"100"},"Message":"Email address should be a maximum of 100 characters long"},{"RuleName":"Required","RuleParameters":{},"Message":"Email address is required"},{"RuleName":"DataType","RuleParameters":{"Type":"EmailAddress"},"Message":"Email address is invalid"}]},{"FieldName":"SecondaryEmailAddressValue","FieldRules":[{"RuleName":"DataType","RuleParameters":{"Type":"EmailAddress"},"Message":"Secondary email address is invalid"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"100"},"Message":"Secondary email address should be a maximum of 100 characters long"}]},{"FieldName":"MobileEmailAddressValue","FieldRules":[{"RuleName":"DataType","RuleParameters":{"Type":"EmailAddress"},"Message":"Mobile email address is invalid"},{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"100"},"Message":"Mobile email address should be a maximum of 100 characters long"}]},{"FieldName":"HomePhoneNumber","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"25"},"Message":"Home phone should be a maximum of 25 characters long"}]},{"FieldName":"WorkPhoneNumber","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"25"},"Message":"Work phone should be a maximum of 25 characters long"}]},{"FieldName":"WorkPhoneExtension","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"10"},"Message":"Work phone extension should be a maximum of 10 characters long"}]},{"FieldName":"CellPhoneNumber","FieldRules":[{"RuleName":"StringLength","RuleParameters":{"MinLength":"0","MaxLength":"25"},"Message":"Cell phone should be a maximum of 25 characters long"}]}]}, {})</script><noscript></noscript>

   <script type="text/javascript">
       $(function () {
           v2WireUpAccessibleToolTips();
           $('#NewUserContactDetailsButton').button();
           $('input.overMe').NewlabelOver();
           v2SetUpDatePicker($('.DateTextBox'));

           $('#UserName').focus();
           $('#NewUserContactDetailsForm').submit(function (e) {
               $('#ServerSideMessage').hide();
               $('#ServerSideErrors').hide();

               if ($(this).valid()) {
                   return true;
               }
               else {
                   v2ShowValidationErrors();
                   e.preventDefault();
                   return true;
               }

           });

           $('#OrganizationPolicyLink').click(function (e) {
               e.preventDefault();
               var title = "The Bike Depot";
               var height = "500";
               var width = "500";
               var dialogId = "OrganizationPolicyDialog"
               var dialog = v2BuildCustomDialog(title, height, width, dialogId);
               dialog.html($('#OrganizationPolicyHolder').html());
               dialog.dialog("option", "buttons", {
                   "Close": function () {
                       dialog.dialog('close');
                   }
               });
               dialog.dialog('open');

           });

           $('#CommunityHubPolicyLink').click(function (e) {
               e.preventDefault();
               var title = "";
               var height = "500";
               var width = "500";
               var dialogId = "CommunityHubPolicyDialog"
               var dialog = v2BuildCustomDialog(title, height, width, dialogId);
               dialog.html($('#CommunityHubPolicyHolder').html());
               dialog.dialog("option", "buttons", {
                   "Close": function () {
                       dialog.dialog('close');
                   }
               });
               dialog.dialog('open');

           });


       });
   </script><noscript></noscript>


    </div>

    <hr style="height:41px; width:1002px; border:0px; color:#E5E5E5; background-color:#E5E5E5;margin-top:27px; margin-bottom:10px;" />

    <div id="MainDivHolder" style="display:none;">

        <div id="ValidationErrorMessageHolder" class="NoDisplay">
            <h1 style="padding-top:0px; margin-top:0px; font-size:1em;" id="ValidationMessageTitle">Validation Errors</h1>
            <ul id="ValidationErrorMessages">
                <li style="display:none;"></li>
            </ul>
        </div>
    </div>
    <div style="width:934px; margin:0 auto;text-align:left;">

    </div>
</body>
</html>
 -->
 Username:
Password:
Confirm Password:
Title:
First Name:
Middle name:
Last Name:
Suffix:
Address Line 1:
Address Line 2:
City:
Country:
State:
Zip Code:
Primary Email:
Secondary Email:
Mobile Email:
Home Phone:
Work Phone:
Work Extension:
Cell Phone:
Phone Preference:
Language:
