div class="content-w2"
  div class="system-message-container"
  div id="item-page"
    h2
      | About
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="background-color: rgb(255, 255, 250); color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.6em; "
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="background-color: rgb(255, 255, 250); font-family: Helvetica, Arial, sans-serif; line-height: 1.6em; "
          strong In short, Bikes Rule!
        span style="background-color: rgb(255, 255, 250); font-family: Helvetica, Arial, sans-serif; line-height: 1.6em; "
    p style="margin: 8px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;"
      span style="font-size:14px;"
        | We are a complex organization melding together for- and non-profit models to create a place that is largely self-sustaining and thriving.  
        em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; "
        |   So we are not dependent on grants and donor’s whims for survival.  The money we make from the bikes you donate, the stuff you buy and the service we perform all goes into the programs.  
        em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; "
        |   Earn-A-Bike, Kids Bike Rodeos, Fix-Your-Bike hours, Fix a Flat &amp; Mechanics 101 classes, community rides, Summer Bike Camp, Winter Apprenticeship Program, our low cost used bikes and parts inventory and all sorts of one-off and specialty programs with different groups.  Yes, we do it all!
    p style="margin: 8px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;"
      span style="font-size:14px;"
    p style="margin: 8px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); "
      span style="font-size:16px;"
    p style="margin: 20px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); "
      /! <img alt="" src="/images/Photos/180612_496773781149_1819622_n.jpg" />
      iframe allowfullscreen="" frameborder="0" height="405" mozallowfullscreen="" src="http://player.vimeo.com/video/40452725?byline=0&amp;portrait=0" webkitallowfullscreen="" width="720"
    p style="margin: 8px 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.6em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); "
      |  
