#content-w2
  #system-message-container
  .item-page
    h2
      | Bike Camp
    p style="text-align: justify; "
      |  
    p style="text-align: justify; "
      img alt="" src="http://thebikedepot.org/images/bdcamp%202013.jpg" style="height: 176px; width: 200px; float: right; margin-left: 10px; margin-right: 10px; "
        span style="font-size: 14px;"
    p style="text-align: justify; "
      a href="http://www.active.com/sport/denver-co/bike-depot-bike-camp-2013" target="_blank"
        img alt="" src="http://thebikedepot.org/images/Photos/309308_10150881927316150_803960656_n.jpg" style="height: 267px; width: 200px; float: left; margin-left: 20px; margin-right: 20px; "
    p
      |  
    p style="text-align: justify;"
      |  
    p style="text-align: justify;"
      span style="font-size:14px;"
    p
      span style="font-size:16px;"
        strong Bike Camp Activities
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      img alt="" src="http://thebikedepot.org/images/Photos/600494_10150852390161150_1516698546_n.jpg" style="height: 225px; width: 300px; margin-left: 10px; margin-right: 10px; float: right; "
    p
      span style="font-size:16px;"
        strong Age Groups
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        span style="font-size:16px;"
          strong Session Dates
    p
      em All Sessions run M-F, 9a-3p
    p
      | Below are the dates for our standard 2-week Bike Camp:
    ul
      li
        span style="font-size:14px;"
          span style="font-size:16px;"
            span style="font-size:14px;"
      li
        span style="font-size:14px;"
          span style="font-size:16px;"
            span style="font-size:14px;"
      li
        span style="font-size:14px;"
          span style="font-size:16px;"
            span style="font-size:14px;"
    p
      |  
    p
      strong
        span style="font-size:16px;"
    p
      span style="font-size:14px;"
    ul
      li
        span style="font-size:14px;"
          strong> Junior Mechanics: 
          | This 1-week session will focus on- you guessed it- bicycle maintenance. Junior Mechanics will learn how bicycles work by learning how to repair and maintain bicycles. Campers in this session will gain hands-on practice working on bicycles and will choose a capstone experience or service project of their team's choice.
      li
        span style="font-size:14px;"
          strong> Urban Riders: 
          | The Urban Riders 1-week session will focus on safe riding practices under the guise of having a lot of fun while riding bicycles throughout the city. This session will take campers on rides throughout Denver all the while showing off the various ways to enjoy a bicycle: as a means of transportation, as recreation, for exercise and as a sustainable vehicle. These concepts will be interwoven not only into the rides themselves, but also- the destinations.
          em Participants in this session should be able to ride 5 miles with ease by the start of camp. 
    p
      strong
        span style="font-size:16px;"
    p
      span style="font-size:14px;"
    p
      span style="font-size:14px;"
    p
      span style="font-size:16px;"
        strong Scholarships are Available
    p
      span style="font-size:14px;"
        | Bike Camp is accessible to all youth, regardless of their ability to pay. Full and Partial Scholarships are avilable. Please email
        javascript:
          | \n         :javascript
                  | This email address is being protected from spambots. You need JavaScript enabled to view it.
        javascript:
                  | for a scholarship application. Final Scholarship deadline is May 31st. Final Scholaship decisions will be announced the first week of June.
    p
      |  
    p
      strong style="font-size: 16px;"
    p
      span style="text-align: justify; font-size: 14px;"
      span style="font-size:14px;"
        span style="text-align: justify;"
          javascript:
            | \n           :javascript
                      | This email address is being protected from spambots. You need JavaScript enabled to view it.
          javascript:
                      | \.
    p
      em
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        strong Smartwool and Kiwanis Club of Aurora
