div class="content-w2"
  div class="system-message-container"
  div id="item-page"
    h2
      | Board of Directors
    p
      em
        span style="font-size:20px;"
          strong Our Lovely Board of Directors
    p
      |  
    p
      span style="font-size:14px;"
        strong Chairman
        br
          | Guy Morissette
          br
            javascript:
              | \n             :javascript
                          | This email address is being protected from spambots. You need JavaScript enabled to view it.
            javascript:
                  p
      em
        span style="font-size:14px;"
      br
        br
          br
            span style="font-size:14px;"
              strong Treasurer
              br
                | Dustin Pfluger
                br
                  javascript:
                    | \n                   :javascript
                                      | This email address is being protected from spambots. You need JavaScript enabled to view it.
                  javascript:
                                      br
                    | Finance Committee
    p style="text-align: justify;"
      span style="font-size:14px;"
        em Dustin K. Pfluger, CPA, is an Audit Manager at Bradley Consulting Group.  Dustin has practiced public accounting since 2005, providing audit and attest services to public and private companies.  In his free time Dustin enjoys biking (both mountain and road) with his friends and wife, camping, skiing, and being outside in general.  Between him and his wife Dustin owns 8 bikes and constantly has some grand plan for each one.  Dustin was elected to the Board of Directors as the current Treasurer effective January 1, 2011.
    p
      br
        span style="font-size:14px;"
          strong Secretary
          br
            | David Gehlert
    p
      span style="font-size:14px;"
        em Mr. Gehlert is an attorney with the Environment & Natural Resources Division of the Department of Justice. He has been an avid recreational cyclist for more than twenty years [Yes, he’s old]. He joined the Board in October of 2010.
      br
        br
          br
            br
              span style="font-size:14px;"
                | Eric France
                br
                  | Program Committee
    p style="text-align: justify;"
      span style="font-size:14px;"
        em Dr. France is the Director of Population and Prevention Services for KP Colorado. The department works to improve the health of members through chronic disease management, prevention programs and worksite health management, using registries and reminder systems to aid in this work. Dr. France serves on the boards of the Bike Depot and the Denver Bike Sharing Program.
    p
      br
        span style="font-size:14px;"
          | Blair Nowell
          br
            | Legal Committee
            br
              | Operations Committee
    p style="text-align: justify;"
      span style="font-size:14px;"
        em Blair works at the Colorado Department of Health Care Policy & Financing and is a graduate of Florida State University and New York University School of Law.  She enjoys time with her son, Christopher; triathlons; gardening; decaf soy lattes, and jogging with her greyhounds, Antipholus & Dromio. Blair excels at wordsmithing Depot legal documents and has been on the board since the very beginning!
      br
        |  
    p
      span style="font-size:14px;"
        | Colin Lamb
        br
          javascript:
            | \n           :javascript
                      | This email address is being protected from spambots. You need JavaScript enabled to view it.
          javascript:
                      br
            | Marketing Committee
    p style="text-align: justify;"
      em
        span style="font-size:14px;"
    p style="text-align: justify;"
      |  
    p
      span style="font-size:14px;"
        | Michael Thomas
        br
          javascript:
            | \n           :javascript
                      | This email address is being protected from spambots. You need JavaScript enabled to view it.
          javascript:
                      br
            | Marketing Committee
    p style="text-align: justify;"
      span style="font-size:14px;"
        em
          span style="font-family: Arial;"
    p style="text-align: justify;"
      |  
    p
      span style="font-size:14px;"
        | Lawrence Poh
        br
          javascript:
            | \n           :javascript
                      | This email address is being protected from spambots. You need JavaScript enabled to view it.
          javascript:
                      br
            | Finance Committee
