<div id="content-w2">	
		
		

		
		
<div id="system-message-container">
</div>
		<div class="item-page">

	<h2>
			Business Partners		</h2>








<p style="text-align: justify;">
	<span style="font-size:14px;">The Bike Depot is only successful because of all of those that support us in the community.  These businesses have committed to helping the Bike Depot get bikes into the hands of as many people as possible in Denver.  Please visit our generous business partners and let them know you heard about them from us!</span></p>
<p style="text-align: center;">
	<span style="font-size:16px;"><a href="http://backtomotion.net/" onclick="window.open(this.href, '', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><img alt="" height="114" src="/images/logo%20red.jpg" style="float: left;" width="138"></a><a href="http://www.cake-crumbs.com/">Cake Crumbs Bakery</a></span></p>
<p style="text-align: center;">
	<span style="font-size:16px;"><a href="http://ekstrandcreative.com/" target="_blank">Extrand Creative</a></span></p>
<p style="text-align: center;">
	<span style="font-size:16px;">SustainAbility</span></p>
<p style="text-align: center;">
	<span style="font-size:16px;"><a href="http://cake-crumbs.com/" target="_blank">Cake Crumbs</a></span></p>
<p style="text-align: center;">
	<span style="font-size:16px;"><a href="http://obliospizza.com/default.asp?contentID=1" target="_blank">Oblio's Pizza</a></span></p>
<p style="text-align: center;">
	<span style="font-size:16px;"><a href="http://www.facebook.com/pages/Eis-Gelato/133214270058812" target="_blank">Eis Gelato</a></span></p>
<p>
	<em>If you are a business or group interested in working with the Bike Depot, please email 
 <script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy18597 = 'l&#97;&#117;r&#105;&#101;' + '&#64;';
 addy18597 = addy18597 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 var addy_text18597 = 'l&#97;&#117;r&#105;&#101;' + '&#64;' + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy18597 + '\'>');
 document.write(addy_text18597);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script> or call <span dir="ltr" style="clear: none !important; " tabindex="-1"><span dir="ltr" skypeaction="skype_dropdown" style="clear: none !important; " title="Click to make a low cost call with Skype"><span style="clear: none !important; "><span style="clear: none !important; ">303-393-1963</span></span> </span></span>for information on how to get involved.</em></p>
<div class="skype_pnh_menu_container" id="skype_pnh_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display:none;">
	<div class="skype_pnh_menu_click2call">
		<a class="skype_pnh_menu_click2call_action" id="skype_pnh_menu_click2call_action">Call</a>
</div>
	<div class="skype_pnh_menu_click2sms">
		<a class="skype_pnh_menu_click2sms_action" id="skype_pnh_menu_click2sms_action">Send SMS</a>
</div>
	<div class="skype_pnh_menu_add2skype">
		<a class="skype_pnh_menu_add2skype_text" id="skype_pnh_menu_add2skype_text">Add to Skype</a>
</div>
	<div class="skype_pnh_menu_toll_info">
		<span class="skype_pnh_menu_toll_callcredit">You'll need Skype Credit</span><span class="skype_pnh_menu_toll_free">Free via Skype</span>
</div>
</div>
<div class="skype_pnh_menu_container" id="skype_pnh_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display:none;">
	<div class="skype_pnh_menu_click2call">
		<a class="skype_pnh_menu_click2call_action" id="skype_pnh_menu_click2call_action">Call</a>
</div>
	<div class="skype_pnh_menu_click2sms">
		<a class="skype_pnh_menu_click2sms_action" id="skype_pnh_menu_click2sms_action">Send SMS</a>
</div>
	<div class="skype_pnh_menu_add2skype">
		<a class="skype_pnh_menu_add2skype_text" id="skype_pnh_menu_add2skype_text">Add to Skype</a>
</div>
	<div class="skype_pnh_menu_toll_info">
		<span class="skype_pnh_menu_toll_callcredit">You'll need Skype Credit</span><span class="skype_pnh_menu_toll_free">Free via Skype</span>
</div>
</div>
<div class="skype_pnh_menu_container" id="skype_pnh_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display:none;">
	<div class="skype_pnh_menu_click2call">
		<a class="skype_pnh_menu_click2call_action" id="skype_pnh_menu_click2call_action">Call</a>
</div>
	<div class="skype_pnh_menu_click2sms">
		<a class="skype_pnh_menu_click2sms_action" id="skype_pnh_menu_click2sms_action">Send SMS</a>
</div>
	<div class="skype_pnh_menu_add2skype">
		<a class="skype_pnh_menu_add2skype_text" id="skype_pnh_menu_add2skype_text">Add to Skype</a>
</div>
	<div class="skype_pnh_menu_toll_info">
		<span class="skype_pnh_menu_toll_callcredit">You'll need Skype Credit</span>
</div>
	<div class="skype_pnh_menu_toll_info" style="text-align: justify;">
		<span class="skype_pnh_menu_toll_free">Free via Skype</span>
</div>
</div>
<div class="skype_pnh_menu_container" id="skype_pnh_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display:none;">
	<div class="skype_pnh_menu_click2call">
		<a class="skype_pnh_menu_click2call_action" id="skype_pnh_menu_click2call_action">Call</a>
</div>
	<div class="skype_pnh_menu_click2sms">
		<a class="skype_pnh_menu_click2sms_action" id="skype_pnh_menu_click2sms_action">Send SMS</a>
</div>
	<div class="skype_pnh_menu_add2skype">
		<a class="skype_pnh_menu_add2skype_text" id="skype_pnh_menu_add2skype_text">Add to Skype</a>
</div>
	<div class="skype_pnh_menu_toll_info">
		<span class="skype_pnh_menu_toll_callcredit">You'll need Skype Credit</span><span class="skype_pnh_menu_toll_free">Free via Skype</span>
</div>
</div>
<div class="skype_pnh_menu_container" id="skype_pnh_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display:none;">
	<div class="skype_pnh_menu_click2call">
		<a class="skype_pnh_menu_click2call_action" id="skype_pnh_menu_click2call_action">Call</a>
</div>
	<div class="skype_pnh_menu_click2sms">
		<a class="skype_pnh_menu_click2sms_action" id="skype_pnh_menu_click2sms_action">Send SMS</a>
</div>
	<div class="skype_pnh_menu_add2skype">
		<a class="skype_pnh_menu_add2skype_text" id="skype_pnh_menu_add2skype_text">Add to Skype</a>
</div>
	<div class="skype_pnh_menu_toll_info">
		<span class="skype_pnh_menu_toll_callcredit">You'll need Skype Credit</span><span class="skype_pnh_menu_toll_free">Free via Skype</span>
</div>
</div>
 
	
</div>

	</div>