<div id="content-w2">	
		
		

		
		
<div id="system-message-container">
</div>
		<div class="item-page">

	<h2>
			Classes		</h2>








<p>
	<a href="http://thebikedepot.myshopify.com/" target="_blank"><img alt="" src="/images/store_button_20120320_2060741769.png.jpeg" style="float: right; width: 123px; height: 175px; margin-left: 15px; margin-right: 15px; "></a></p>
<p>
	<strong><span style="font-size:16px;"><span style="background-color: rgb(255, 255, 250); color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; ">The Bike Depot offers a full curriculum of classes to get and keep your bicycle repair skills up to speed!  </span></span></strong></p>
<p style="text-align: justify;">
	<span style="font-size:14px;"><span style="background-color: rgb(255, 255, 250); color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; ">This is a listing of our most popular classes, check the online store for a current classes, dates and times.  Classes take place at the Bike Depot unless otherwise noted, and require registration at least 24 hours in advance.  Please call  </span><span class="skype_pnh_container" dir="ltr" style="margin: 0px !important; padding: 0px !important; border: 0px none rgb(0, 0, 0) !important; font: inherit; vertical-align: baseline !important; background-attachment: scroll !important; background-color: transparent !important; background-image: none !important; border-collapse: separate !important; bottom: auto !important; clear: none !important; clip: auto !important; cursor: pointer !important; direction: ltr !important; display: inline !important; float: none !important; left: auto !important; letter-spacing: 0px !important; list-style: disc outside none !important; overflow: hidden !important; page-break-after: auto !important; page-break-before: auto !important; page-break-inside: auto !important; position: static !important; right: auto !important; table-layout: auto !important; top: auto !important; white-space: nowrap !important; word-spacing: normal !important; z-index: 0 !important; color: rgb(73, 83, 90) !important; font-family: Tahoma, Arial, Helvetica, sans-serif !important; font-weight: bold !important; height: 14px !important; line-height: 14px !important; width: auto !important; background-position: 0px 0px !important; background-repeat: no-repeat no-repeat !important; " tabindex="-1"><span class="skype_pnh_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown" style="margin: 0px !important; padding: 0px !important; border: 0px none rgb(0, 0, 0) !important; font: inherit; vertical-align: baseline !important; background-attachment: scroll !important; background-color: transparent !important; background-image: none !important; border-collapse: separate !important; bottom: auto !important; clear: none !important; clip: auto !important; cursor: pointer !important; direction: ltr !important; display: inline !important; float: none !important; left: auto !important; letter-spacing: 0px !important; list-style: disc outside none !important; overflow: hidden !important; page-break-after: auto !important; page-break-before: auto !important; page-break-inside: auto !important; position: static !important; right: auto !important; table-layout: auto !important; top: auto !important; word-spacing: normal !important; z-index: 0 !important; height: 14px !important; width: auto !important; background-position: 0px 0px !important; background-repeat: no-repeat no-repeat !important; " title="Click to make a low cost call with Skype"><span class="skype_pnh_textarea_span" style="margin: 0px !important; padding: 0px !important; border: 0px none rgb(0, 0, 0) !important; font: inherit; vertical-align: baseline !important; background-attachment: scroll !important; background-color: transparent !important; background-image: url(chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/numbers_common_inactive_icon_set.gif) !important; border-collapse: separate !important; bottom: auto !important; clear: none !important; clip: auto !important; cursor: pointer !important; direction: ltr !important; display: inline !important; float: none !important; left: auto !important; letter-spacing: 0px !important; list-style: disc outside none !important; overflow: hidden !important; page-break-after: auto !important; page-break-before: auto !important; page-break-inside: auto !important; position: static !important; right: auto !important; table-layout: auto !important; top: auto !important; word-spacing: normal !important; z-index: 0 !important; height: 14px !important; width: auto !important; background-position: -125px 0px !important; background-repeat: no-repeat no-repeat !important; "><span class="skype_pnh_text_span" style="margin: 0px !important; padding: 0px 0px 0px 5px !important; border: 0px none rgb(0, 0, 0) !important; font: inherit; vertical-align: baseline !important; background-attachment: scroll !important; background-color: transparent !important; background-image: url(chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/numbers_common_inactive_icon_set.gif) !important; border-collapse: separate !important; bottom: auto !important; clear: none !important; clip: auto !important; cursor: pointer !important; direction: ltr !important; display: inline !important; float: none !important; left: auto !important; letter-spacing: 0px !important; list-style: disc outside none !important; overflow: hidden !important; page-break-after: auto !important; page-break-before: auto !important; page-break-inside: auto !important; position: static !important; right: auto !important; table-layout: auto !important; top: auto !important; word-spacing: normal !important; z-index: 0 !important; height: 14px !important; width: auto !important; background-position: -125px 0px !important; background-repeat: no-repeat no-repeat !important; ">303-393-1963</span></span><span class="skype_pnh_right_span" style="margin: 0px !important; padding: 0px !important; border: 0px none rgb(0, 0, 0) !important; font: inherit; vertical-align: baseline !important; background-attachment: scroll !important; background-color: transparent !important; background-image: url('/chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/numbers_common_inactive_icon_set.gif') !important; border-collapse: separate !important; bottom: auto !important; clear: none !important; clip: auto !important; cursor: pointer !important; direction: ltr !important; display: inline !important; float: none !important; left: auto !important; letter-spacing: 0px !important; list-style: disc outside none !important; overflow: hidden !important; page-break-after: auto !important; page-break-before: auto !important; page-break-inside: auto !important; position: static !important; right: auto !important; table-layout: auto !important; top: auto !important; word-spacing: normal !important; z-index: 0 !important; height: 14px !important; width: 15px !important; background-position: -62px 0px !important; background-repeat: no-repeat no-repeat !important; ">  </span></span></span><span style="background-color: rgb(255, 255, 250); color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; ">with any questions.  <strong>You can see the current schedule and sign up for all Bike Depot classes through our online store.</strong>  Payment is required at time of registration.</span></span></p>
<p>
	 </p>
<p>
	<img alt="" src="/images/Photos/156252_10150653512181150_616648283_n.jpg" style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 15px; height: 188px; width: 225px; margin-left: 10px; margin-right: 10px; float: left; "></p>
<p>
	<strong style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; "><span style="font-size:16px;">Basic Series Classes</span></strong></p>
<p>
	<span style="font-size:14px;"><em style="color: rgb(0, 0, 0); margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Basic classes are offered for a suggested donation of $7 and require registration at least 24 hours in advance.  Donate and sign up <a href="http://thebikedepot.myshopify.com/collections/basic-classes">here</a> or call in to the shop and we'll put you on the class list!</em><span style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; ">    </span></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; "><span style="font-size:16px;"><u>Fix A Flat Clinic</u></span> ~ </strong><em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">1st &amp; 3rd Saturday of every month: 12pm-3pm @ <a href="http://www.denverbicyclecafe.com/home" target="_blank"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">The Denver Bicycle Cafe</strong></a></em><em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; "><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">.  </strong></em></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><span style="line-height: 1.3em; ">Fixing a flat tire is the most important piece of bicycle repair knowledge you can have so join us at the Denver Bicycle Cafe, grab a drink and learn how to keep your bike rolling.  Stop by any time between 1 and 3 for an impromptu and </span><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">FREE</strong><span style="line-height: 1.3em; "> class.  No registration required.</span></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; "><a href="http://thebikedepot.myshopify.com/collections/basic-classes/products/mechanics-101"><span style="font-size:16px;"><u>Mechanics 101 Class</u></span></a> ~ </strong><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">1st Thursday of every month:</strong> <em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">6 pm-7 pm</em></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">New to bicycles?  Need some help keeping yours in tip-top shape?  This class teaches students about bicycle anatomy and covers basic brake and derailleur adjustments as well as the essential solvents and lubricants that will keep your bike running smoothly on Colorado's roads and trails.  </span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/apr-11th-touring-seminar-7pm-7-45pm"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Introduction to Bicycle Touring </strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">The essential guide for all those interested in going for an extended bike trip.  It will cover planning, equipment selection, preparing for a first tour and the lifestyle on the road.  Touring is a fun, awesome way to travel, but requires extensive planning to avoid the many possible pitfalls that come with a long time on the road.  Make your trip great by starting it with this class!</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><span style="font-size:16px;"><strong>Master Classes</strong> </span> <em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">(advance registration required – sign up <a href="http://thebikedepot.myshopify.com/" target="_blank">HERE</a>)</em></span><br style="margin: 0px; ">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/copy-of-master-mechanics-class-7-24-8-21"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Master Mechanics Course</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">Our most popular and comprehensive instruction series.  The full-blown mechanics course takes place over six consecutive weeks and covers your bike from handlebar tape to rear brakes.  This course gives students a hands-on opportunity to learn about overhauling hubs and bottom brackets, truing wheels, repairing broken chains and much more.  The course costs $200 and includes Park Tool's essential text: the "Big Blue Book of Bicycle Repair."  Registration is required and class size is limited.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<strong style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; "><span style="font-size:16px;">Expert Classes </span></strong><span style="font-size:14px;"><span style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; "> </span></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">Our Expert Level classes are hands-on, skills based classes that run over several weeks.  Sign up and take your skills to the next level.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/womens-mechanics-class-jan-9-16"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Women’s Mechanics Class</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">A 2-part class designed to give a thorough understanding of the basic concepts of bicycle repair in a fun, welcoming environment and to introduce you to a place where you will be able to continue to learn more about bikes, community bike shops and about how you can become a self-sufficient cyclist!  Students are encouraged but not required to purchase the Park Big Blue Book of Bicycle Repair.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/copy-of-two-part-wheel-building-class-june-20th-27th"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Wheel Building</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">One of our most popular classes is a three-part in-depth workshop to teach you proper techniques for truing and building wheels.  Students will learn the ins and outs of spoke length calculation</span><span style="font-size:14px;"> along with how to properly lace, tension, dish and true wheels </span><span style="font-size:14px;">.  You are welcome to use recycled wheels/components from the Bike Depot or order new parts and leave the class with a new hand-built wheelset!  </span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<strong style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; "><span style="font-size:16px;">Advanced Classes</span></strong></p>
<p>
	<img alt="" src="/images/Photos/603136_10150852446466150_1361949236_n.jpg" style="height: 303px; width: 300px; margin-left: 10px; margin-right: 10px; float: right; "></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">Break away from the basics.  Our advanced classes will introduce you to biking as a lifestyle choice! Convert a Single Speed, become a dedicated Bike Commuter, or learn to maintain all the different systems on your bike. </span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Bearing Overhaul</strong></u></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">Learn how to clean and reapack any of your bearing systems.  From hubs to bottom brackets and headsets, we will give you a step by step on pulling, cleaning, repacking and then re-assembling the whole system.  This is the perfect entry level class to get started on doing all the regular manintenace for you and your loved ones.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/derraileur-adjustments-9"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Cable Systems</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">This class unlocks the mysteries of your all those pesky cables on your bike.  We will walk you through the cable systems for brakes and derailleurs, show you the basics of installation, and cover the adjustments and factors that contribute to crisp, clean shifting and braking.  Another great class to dip your toe into the world of Bike Maintenance.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/may-23rd-wheel-truing"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Wheel Truing</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">Teaches concepts like wheel anatomy, spoke tension, dish and radial and lateral true.  Wheel truing class also double's as week one of our Wheel Building series so if you like what you learn, let us know and we can sign you up for the rest of the series.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Commuting Class</strong></u></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">The perfect class for novice commuters in Denver.  We will cover bike commuting strategies, street riding safety, bike route options, essential gear and dealing with carrying cargo.  It will also cover hands-on basic bike and tire repairs.  After this class you will be ready to hit the road morning and night.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<a href="http://thebikedepot.myshopify.com/products/october-24th-single-speed-conversion"><span style="font-size:16px;"><u><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Single Speed Conversion</strong></u></span></a></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">This class teaches students about styles of single speed bikes, parts needed for a conversion, costs involved and some basic mechanical skills needed to do the work.  It doesn't matter if you have an old mountain bike that you want to make into a winter commuter or if you have some road components that you're itching to use for a new fixie!  This class will get you started toward life in one gear.  Once you know the basics, you will find that the Bike Depot is the perfect place to continue work on your conversion during Fix Your Bike hours.</span></p>
<p align="center" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
	 </p>
<p align="center" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
	 </p>
<p align="center" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
	<strong><span style="font-size:14px;"><em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Have a specialty class in mind?  Let us know and we'll host or create it.</em></span></strong></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); ">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<strong><span style="font-size:16px;">Custom Classes</span></strong></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;">The Bike Depot offers organizations or groups the option of creating a custom class to suit their interests.  The Bike Depot's capacity is limited for these events, so please send your requests early.  Every student in the class will receive a class handout; in efforts to preserve the environment, please let our staff know if you would like the electronic versions of these instead of the printed ones.  The Bike Depot also offers additional learning materials/starter tool kits that you may pre-order for your group.</span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Custom Class Rates</strong></span></p>
<ul style="margin: 6px 0px; padding-right: 0px; padding-left: 30px; border: 0px; font: inherit; vertical-align: baseline; list-style: square outside; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 19.200000762939453px; background-color: rgb(255, 255, 250); ">
<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">A $20 flat fee will be charged for all custom classes held at the Bike Depot and $50 for custom classes held at another site.</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">In addition to the flat fee- there will be a charge of $5/student/hour with a minimum group size of 7 and a maximum of 15.  Groups larger than 15 will need to be split into two or more groups.  For classes at another site, these numbers are more flexible.</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">For Non Profit Organizations and groups with limited funds, please contact the Program Associate for information on reduced rates.</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">An initial payment of 50% of the price of the class must be pre-paid one week or more in advance.  The remaining balance is due on the day of the class.  Any additions or special orders must be pre-paid at the time of ordering.</span>
</li>
</ul>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Additions (all items listed pre-tax)</strong></span></p>
<ul style="margin: 6px 0px; padding-right: 0px; padding-left: 30px; border: 0px; font: inherit; vertical-align: baseline; list-style: square outside; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 19.200000762939453px; background-color: rgb(255, 255, 250); ">
<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Patch Kits - $2.99</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Tire Levers - $2.99/pair</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Park Tool Essential Tool Kit- $22.00</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Park Tool Bike Mechanics Book- $26.99</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Finish Line Super Bike Wash- $14.99</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Various Lubricants available- $4.99 - $9.99</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">The Bike Depot Shop Shirt- $20.00</span>
</li>
</ul>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><em style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">The Bike Depot can special order any items not listed above</em></span></p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	 </p>
<p style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; line-height: 1.3em; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 250); text-align: justify;">
	<span style="font-size:14px;"><strong style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; ">Other Considerations:</strong></span></p>
<ul style="margin: 6px 0px; padding-right: 0px; padding-left: 30px; border: 0px; font: inherit; vertical-align: baseline; list-style: square outside; color: rgb(0, 0, 0); font-family: Helvetica, Arial, sans-serif; line-height: 19.200000762939453px; background-color: rgb(255, 255, 250); ">
<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">Space is limited and custom classes are not offered on Saturdays at the shop.</span>
</li>
	<li style="margin: 0px; padding: 0px; border: 0px; font-size: 13px; font: inherit; vertical-align: baseline; text-align: justify;">
		<span style="font-size:14px;">The Bike Depot is closed Monday throughout the year as well as Sundays November-February.  If you would like to request a class for these days, an additional fee may be assessed.</span>
</li>
</ul>
</div>

	</div>