<div id="content-w2">
        <div id="system-message-container"></div>

        <div class="item-page">
            <h2>Contact &amp; Hours</h2>

            <div style="text-align: right;">
                <a href=
                "http://maps.google.com/maps?q=2825+Fairfax+Street,+Denver,+CO&amp;hl=en&amp;sll=38.997934,-105.550567&amp;sspn=4.993723,9.876709&amp;oq=2825+fairfax&amp;hnear=2825+Fairfax+St,+Denver,+Colorado+80207&amp;t=m&amp;z=14"
                target="_blank"><iframe align="right" frameborder="0" height=
                "200" marginheight="0" marginwidth="0" scrolling="no" src=
                "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2825+Fairfax+Street,+Denver,+CO&amp;aq=0&amp;oq=2825+fairfax&amp;sll=38.997934,-105.550567&amp;sspn=4.993723,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=2825+Fairfax+St,+Denver,+Colorado+80207&amp;t=m&amp;z=14&amp;ll=39.757263,-104.928557&amp;output=embed"
                width="300"></iframe></a>
            </div>

            <p>&nbsp;</p>

            <div style="text-align: center;">
                <span style="font-size:18px;">The Bike Depot</span>
            </div>

            <div style="text-align: center;">
                <span style="font-size:18px;">2825 Fairfax Street</span>
            </div>

            <div style="text-align: center;">
                <span style="font-size:18px;">Denver, CO &nbsp;80207</span>
            </div>

            <div>
                <div style="text-align: center;">
                    <span style="font-size:18px;">&nbsp; &nbsp; &nbsp;
                    &nbsp;Phone: (303) 393-1963 &nbsp; &nbsp; &nbsp;</span>
                </div>

                <div style="text-align: center;">
                    <span style="font-size:18px;">Fax: (303) 393-2607</span>
                </div>
            </div>

            <div style="text-align: right;">
                &nbsp;
            </div>

            <div style="text-align: right;">
                &nbsp;
            </div>

            <div style="text-align: right;">
                &nbsp;
            </div>

            <div style="text-align: right;">
                &nbsp;
            </div>

            <div style="text-align: center;">
                &nbsp;
            </div>

            <div style="text-align: center;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;&nbsp;<a href=
                "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2825+Fairfax+Street,+Denver,+CO&amp;aq=0&amp;oq=2825+fairfax&amp;sll=38.997934,-105.550567&amp;sspn=4.993723,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=2825+Fairfax+St,+Denver,+Colorado+80207&amp;t=m&amp;z=14&amp;ll=39.757263,-104.928557"
                style="font-size: 15px; color: rgb(0, 0, 255);" target=
                "_blank">View Larger Map</a>
            </div>

            <div>
                <span style=
                "font-size: 16px; text-decoration: underline">Retail
                Hours</span><br>

                <div>
                    <span style="font-size:14px;">Tuesday, Wednesday &amp;
                    Thursday - &nbsp;Noon to 7:00pm</span>
                </div>

                <div>
                    <span style="font-size:14px;">Friday, Saturday &amp; Sunday
                    - 11:00am to 5:00pm</span>
                </div>

                <div>
                    <span style="font-size:14px;"><em>*We are closed Sundays
                    November-March.</em></span>
                </div>

                <div>
                    &nbsp;
                </div>

                <div>
                    <span style=
                    "font-size: 16px; text-decoration: underline">Fix Your Bike
                    Hours</span>
                </div>

                <div>
                    <span style="font-size:14px;">Tuesday &amp; Wednesday -
                    4:00pm to 7:00pm</span>
                </div>

                <div>
                    <span style="font-size:14px;">Saturday - 11:00am to
                    5:00pm</span>
                </div>

                <div>
                    &nbsp;
                </div>

                <div>
                    <span style=
                    "font-size: 16px; text-decoration: underline">Members Only
                    Fix Your Bike Hours</span>
                </div>

                <div>
                    <span style="font-size:14px;">Sunday - 11:00am to 5:00pm
                    <em>(April-October)</em></span>
                </div>

                <div>
                    <span style="font-size:14px;">Thursday - 4:00pm to 7:00 pm
                    <em>(November-March)</em></span>
                </div>

                <div>
                    &nbsp;
                </div>

                <div>
                    <span style="font-size:14px;">(Bike Depot&nbsp;<a href=
                    "erb/support/memberships">Membership</a>
                    Information)</span>
                </div>
            </div>

            <div>
                &nbsp;
            </div>

            <div>
                &nbsp;
            </div>

            <div>
                <span style="font-size:14px;">For retail and shop
                inquiries:&nbsp;</span>
            </div>

            <div>
                <span style="font-size:14px;"><script type="text/javascript">
<!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy30229 = 'j&#97;m&#101;s' + '&#64;';
                addy30229 = addy30229 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
                document.write('<a ' + path + '\'' + prefix + ':' + addy30229 + '\'>');
                document.write(addy30229);
                document.write('<\/a>');
                //-->\n 
                </script><script type="text/javascript">
<!--
                document.write('<span style=\'display: none;\'>');
                //-->
                </script>This email address is being protected from spambots.
                You need JavaScript enabled to view it. <script type=
                "text/javascript">
<!--
                document.write('</');
                document.write('span>');
                //-->
                </script></span>
            </div>

            <div>
                &nbsp;
            </div>

            <div>
                <span style="font-size:14px;">For program and volunteer
                inquiries:&nbsp;</span>
            </div>

            <div>
                <span style="font-size:14px;"><script type="text/javascript">
<!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy31012 = 'ryn&#101;' + '&#64;';
                addy31012 = addy31012 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
                document.write('<a ' + path + '\'' + prefix + ':' + addy31012 + '\'>');
                document.write(addy31012);
                document.write('<\/a>');
                //-->\n 
                </script><script type="text/javascript">
<!--
                document.write('<span style=\'display: none;\'>');
                //-->
                </script>This email address is being protected from spambots.
                You need JavaScript enabled to view it. <script type=
                "text/javascript">
<!--
                document.write('</');
                document.write('span>');
                //-->
                </script></span>
            </div>

            <div>
                &nbsp;
            </div>

            <div>
                <span style="font-size:14px;">For service and repair
                questions:&nbsp;</span>
            </div>

            <div>
                <span style="font-size:14px;"><script type="text/javascript">
<!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy51935 = 'm&#111;rg&#97;n' + '&#64;';
                addy51935 = addy51935 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
                document.write('<a ' + path + '\'' + prefix + ':' + addy51935 + '\'>');
                document.write(addy51935);
                document.write('<\/a>');
                //-->\n 
                </script><script type="text/javascript">
<!--
                document.write('<span style=\'display: none;\'>');
                //-->
                </script>This email address is being protected from spambots.
                You need JavaScript enabled to view it. <script type=
                "text/javascript">
<!--
                document.write('</');
                document.write('span>');
                //-->
                </script>&nbsp;</span>
            </div>

            <div>
                &nbsp;
            </div>

            <div>
                <span style="font-size:14px;">For organizational, membership,
                donation and fundraising inquiries:&nbsp;</span>
            </div>

            <div>
                <span style="font-size:14px;"><script type="text/javascript">
<!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy84371 = 'l&#97;&#117;r&#105;&#101;' + '&#64;';
                addy84371 = addy84371 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
                document.write('<a ' + path + '\'' + prefix + ':' + addy84371 + '\'>');
                document.write(addy84371);
                document.write('<\/a>');
                //-->\n 
                </script><script type="text/javascript">
<!--
                document.write('<span style=\'display: none;\'>');
                //-->
                </script>This email address is being protected from spambots.
                You need JavaScript enabled to view it. <script type=
                "text/javascript">
<!--
                document.write('</');
                document.write('span>');
                //-->
                </script></span>
            </div>

            <div class="skype_pnh_menu_container" id="skype_pnh_menu_container"
            onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)"
            onmouseover=
            "SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style=
            "display:none;">
                <div class="skype_pnh_menu_click2call">
                    <a class="skype_pnh_menu_click2call_action" id=
                    "skype_pnh_menu_click2call_action">Call</a>
                </div>

                <div class="skype_pnh_menu_click2sms">
                    <a class="skype_pnh_menu_click2sms_action" id=
                    "skype_pnh_menu_click2sms_action">Send SMS</a>
                </div>

                <div class="skype_pnh_menu_add2skype">
                    <a class="skype_pnh_menu_add2skype_text" id=
                    "skype_pnh_menu_add2skype_text">Add to Skype</a>
                </div>

                <div class="skype_pnh_menu_toll_info">
                    <span class="skype_pnh_menu_toll_callcredit">You'll need
                    Skype Credit</span><span class=
                    "skype_pnh_menu_toll_free">Free via Skype</span>
                </div>
            </div>
        </div>
    </div>
