link href="http://www.thebikedepot.org/modules/mod_djimageslider/assets/style.css" rel="stylesheet" type="text/css"
javascript:
  | (function($){ window.addEvent('domready',function(){this.Slider130 = new DJImageSlider({id: '130', slider_type: 2, slide_size: 700, visible_slides: 1, show_buttons: 0, show_arrows: 1, preload: 800},{auto: 1, transition: Fx.Transitions.linear, duration: 600, delay: 3600})}); })(document.id);
css:
  /!* Styles for DJ Image Slider with module id 130 */
  #djslider-loader130 {
    | margin: 0 auto;
    | position: relative;
  | }
  #djslider130 {
    | margin: 0 auto;
    | position: relative;
    | height: 375px;
    | width: 700px;
    | max-width: 700px;
  | }
  #slider-container130 {
    | position: absolute;
    | overflow:hidden;
    | left: 0;
    | top: 0;
    | height: 100%;
    | width: 100%;
  | }
  #djslider130 ul#slider130 {
    | margin: 0 !important;
    | padding: 0 !important;
    | border: 0 !important;
  | }
  #djslider130 ul#slider130 li {
    | list-style: none outside !important;
    | float: left;
    | margin: 0 !important;
    | border: 0 !important;
    | padding: 0 0px 0px 0 !important;
    | position: relative;
    | height: 375px;
    | width: 700px;
    | background: none;
    | overflow: hidden;
  | }
  #slider130 li img {
    | width: 100%;
    | height: auto;
    | border: 0 !important;
    | margin: 0 !important;
  | }
  #slider130 li a img, #slider130 li a:hover img {
    | border: 0 !important;
  | }
  
  /!* Slide description area */
  #slider130 .slide-desc {
    | position: absolute;
    | bottom: 0%;
    | left: 0%;
    | width: 100%;
  | }
  #slider130 .slide-desc-in {
    | position: relative;
    | margin: 0 0px 0px 0 !important;
  | }
  #slider130 .slide-desc-bg {
    | position:absolute;
    | top: 0;
    | left: 0;
    | width: 100%;
    | height: 100%;
  | }
  #slider130 .slide-desc-text {
    | position: relative;
  | }
  #slider130 .slide-desc-text h3 {
    | display: block !important;
  | }
  
  /!* Navigation buttons */
  #navigation130 {
    | position: relative;
    | top: 8%;
    | margin: 0 5px;
    | text-align: center !important;
  | }
  
  #prev130 {
    | cursor: pointer;
    | display: block;
    | position: absolute;
    | left: 0;
  | }
  #next130 {
    | cursor: pointer;
    | display: block;
    | position: absolute;
    | right: 0;
  | }
  
#content-w2
  #content-top
    #djslider-loader130.djslider-loader
      #djslider130.djslider
        #slider-container130.slider-container
          ul#slider130
            li
              a href="/about/contact" target="_self"
                img alt="Bike Depot Staff" src="/images/depot%20staff.jpg"
              /! Slide description area: START
              .slide-desc
                .slide-desc-in
                  .slide-desc-bg
                  .slide-desc-text
                    .slide-title
                      | Bike Depot Staff
                    .slide-text
                    div style="clear: both"
              /! Slide description area: END
            li
              a href="/programs" target="_self"
                img alt="Bike Depot Community Programs" src="/images/Photos/fyb%20father%20and%20son%20smiling.jpg"
              /! Slide description area: START
              .slide-desc
                .slide-desc-in
                  .slide-desc-bg
                  .slide-desc-text
                    .slide-title
                      | Bike Depot Community Programs
                    .slide-text
                    div style="clear: both"
              /! Slide description area: END
            li
              a href="/support/organizing-a-bike-collection-drive" target="_self"
                img alt="Organize a Bike Collection Drive" src="/images/mp900427870.jpg"
              /! Slide description area: START
              .slide-desc
                .slide-desc-in
                  .slide-desc-bg
                  .slide-desc-text
                    .slide-title
                      | Organize a Bike Collection Drive
                    .slide-text
                    div style="clear: both"
              /! Slide description area: END
        #navigation130.navigation-container
          img#prev130.prev-button alt="Previous" src="http://thebikedepot.org//modules/mod_djimageslider/assets/prev.png"
            img#next130.next-button alt="Next" src="http://thebikedepot.org//modules/mod_djimageslider/assets/next.png"
    div style="clear: both"
  #system-message-container
  .item-page
    h1
      | Home
    p
      span style="font-size: 18px; text-align: justify;"
    div style="text-align: justify;"
      span style="font-size:14px;"
        | The Bike Depot is a 501(c)(3) nonprofit community bike shop that supports Denver communities with a wide range of bicycling programs, services and products. We have a full service Bike Shop offering new and used bikes and accessories, an affordable 
        a href="/bike-shop/service"
        |  menu and a 
        a href="/programs/fix-your-bike"
        |  program where you can come to our shop and utilize our space and tools with the help of our Volunteer Mechanics.  
    div style="text-align: justify;"
      |  
    div style="text-align: justify;"
      span style="font-size:14px;"
        | Donated Bicycles are recycled to low income local residents through our 
        a href="/programs/earn-a-bike"
        |  programs or refurbished and sold in our bicycle shop to support all of our community service programs.
    div
      span style="font-size: 16px; "
    div style="text-align: center; "
      |  
    div style="text-align: center; "
      span style="font-size: 18px; font-weight: bold;"
      span style="font-size: 16px;"
      strong style="font-size: 16px; "
        span style="font-size: 18px;"
        |                           
        span style="font-size: 18px;"
    div style="text-align: center; "
      a href="http://www.thebikedepot.org/programs"
        img alt="" src="http://thebikedepot.org/images/Square/bike_depot_rodesquare.jpg" style="height: 210px; width: 210px; "
      |        
      a href="http://www.thebikedepot.org/bike-shop"
        img alt="" src="http://thebikedepot.org/images/Square/bike%20shopsquare.jpg" style="height: 210px; width: 210px; "
      |        
      a href="http://www.thebikedepot.org/support"
        img alt="" src="http://thebikedepot.org/images/Photos/support%20square.jpg" style="height: 210px; width: 210px; "
    div
      |  
    div
      |  
    div style="text-align: center; "
      strong
        span style="font-size:22px;"
          a href="http://www.thebikedepot.org/support/memberships"
