<link rel="stylesheet" href="/modules/mod_djimageslider/assets/style.css" type="text/css" />
<script type="text/javascript">
(function($){ window.addEvent('domready',function(){this.Slider130 = new DJImageSlider({id: '130', slider_type: 2, slide_size: 700, visible_slides: 1, show_buttons: 0, show_arrows: 1, preload: 800},{auto: 1, transition: Fx.Transitions.linear, duration: 600, delay: 3600})}); })(document.id);
</script>
<style type="text/css">

  /* Styles for DJ Image Slider with module id 130 */
  #djslider-loader130 {
    margin: 0 auto;
    position: relative;
  }
  #djslider130 {
    margin: 0 auto;
    position: relative;
    height: 375px; 
    width: 700px;
    max-width: 700px;
  }
  #slider-container130 {
    position: absolute;
    overflow:hidden;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
  }
  #djslider130 ul#slider130 {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
  }
  #djslider130 ul#slider130 li {
    list-style: none outside !important;
    float: left;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 0px 0px 0 !important;
    position: relative;
    height: 375px;
    width: 700px;
    background: none;
    overflow: hidden;
  }
  #slider130 li img {
    width: 100%;
    height: auto;
    border: 0 !important;
    margin: 0 !important;
  }
  #slider130 li a img, #slider130 li a:hover img {
    border: 0 !important;
  }
  
  /* Slide description area */
  #slider130 .slide-desc {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
  }
  #slider130 .slide-desc-in {
    position: relative;
    margin: 0 0px 0px 0 !important;
  }
  #slider130 .slide-desc-bg {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #slider130 .slide-desc-text {
    position: relative;
  }
  #slider130 .slide-desc-text h3 {
    display: block !important;
  }
  
  /* Navigation buttons */
  #navigation130 {
    position: relative;
    top: 8%; 
    margin: 0 5px;
    text-align: center !important;
  }
  
  #prev130 {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
  }
  #next130 {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
  }
  
</style>

<div id="content-w2">	
  <div id="content-top">
		<div id="djslider-loader130" class="djslider-loader">
      <div id="djslider130" class="djslider">
        <div id="slider-container130" class="slider-container">
        	<ul id="slider130">
            <li>
          		<a href="/about/contact" target="_self">
							<img src="/images/depot%20staff.jpg" alt="Bike Depot Staff"></a>
							<!-- Slide description area: START -->
						    <div class="slide-desc">
						      <div class="slide-desc-in">	
							     <div class="slide-desc-bg">
                   </div>
							     <div class="slide-desc-text">
									  <div class="slide-title">
										    Bike Depot Staff
                    </div>			
										  <div class="slide-text"></div>    
											<div style="clear: both"></div>
							     </div>
						      </div>
						    </div>
						<!-- Slide description area: END -->
												
						
					    </li>
              <li>
          			<a href="/programs" target="_self">
								<img src="/images/Photos/fyb%20father%20and%20son%20smiling.jpg" alt="Bike Depot Community Programs"></a>
										<!-- Slide description area: START -->
						    <div class="slide-desc">
						      <div class="slide-desc-in">	
							     <div class="slide-desc-bg"></div>
							       <div class="slide-desc-text">
										  <div class="slide-title">
												Bike Depot Community Programs																	
                      </div>	
									    <div class="slide-text">
										  </div>	
											<div style="clear: both"></div>
							       </div>
						      </div>
						    </div>
						          <!-- Slide description area: END -->
							</li>
              <li>
          			<a href="/support/organizing-a-bike-collection-drive" target="_self">
								<img src="/images/mp900427870.jpg" alt="Organize a Bike Collection Drive"></a>
										  <!-- Slide description area: START -->
						    <div class="slide-desc">
						      <div class="slide-desc-in">	
							     <div class="slide-desc-bg"></div>
							     <div class="slide-desc-text">
									   <div class="slide-title">
											 Organize a Bike Collection Drive																	
                     </div>		
									   <div class="slide-text"></div>
										 <div style="clear: both"></div>
							      </div>
						      </div>
						    </div>
						<!-- Slide description area: END -->							
					    </li>
          </ul>
        </div>
        <div id="navigation130" class="navigation-container">
        	<img id="prev130" class="prev-button" src="/modules/mod_djimageslider/assets/prev.png" alt="Previous"><img id="next130" class="next-button" src="/modules/mod_djimageslider/assets/next.png" alt="Next">
        </div>
      </div>
    </div>
	
    <div style="clear: both"></div>


	</div>
		
  <div id="system-message-container"></div>
		<div class="item-page"><h1> Home</h1>
      <p><span style="font-size: 18px; text-align: justify;">Welcome to the Bike Depot</span></p>
      <div style="text-align: justify;">
	      <span style="font-size:14px;">The Bike Depot is a 501(c)(3) nonprofit community bike shop that supports Denver communities with a wide range of bicycling programs, services and products. We have a full service Bike Shop offering new and used bikes and accessories, an affordable <a href="/bike-shop/service">Service</a> menu and a <a href="/programs/fix-your-bike">Fix Your Bike</a> program where you can come to our shop and utilize our space and tools with the help of our Volunteer Mechanics.  </span>
      </div>
      <div style="text-align: justify;"></div>
      <div style="text-align: justify;">
	      <span style="font-size:14px;">Donated Bicycles are recycled to low income local residents through our <a href="/programs/earn-a-bike">Earn A Bike</a> programs or refurbished and sold in our bicycle shop to support all of our community service programs.</span>
      </div>
      <div>
	      <span style="font-size: 16px; ">  </span>
      </div>
      <div style="text-align: center; "></div>
      <div style="text-align: center; ">
	      <span style="font-size: 18px; font-weight: bold;">Get Involved</span><span style="font-size: 16px;">                    </span><strong style="font-size: 16px; "><span style="font-size: 18px;">Explore Our Bike Shop</span>                          <span style="font-size: 18px;">Support   </span></strong>
      </div>
      <div style="text-align: center; ">
	      <a href="/programs"><img alt="" src="/images/Square/bike_depot_rodesquare.jpg" style="height: 210px; width: 210px; "></a>       <a href="/bike-shop"><img alt="" src="/images/Square/bike%20shopsquare.jpg" style="height: 210px; width: 210px; "></a>       <a href="/support"><img alt="" src="/images/Photos/support%20square.jpg" style="height: 210px; width: 210px; "></a>
      </div>
      <div>
  	  </div>
      <div>
  	  </div>
      <div style="text-align: center; ">
	      <strong><span style="font-size:22px;"><a href="/support/memberships">Benefits of Becoming a Bike Depot Member</a></span></strong>
      </div>	
    </div>
	</div>
