<div id="content-w2">
        <div id="system-message-container"></div>

        <div class="item-page">
            <h2>Links</h2>

            <p><span style="font-size:14px;">Please check out our&nbsp;<a href=
            "erb/links/31-links/business-partners/29-business-partners">Business
            Partners</a>,&nbsp;<a href=
            "erb/links/32-links/friends/30-friends">Friends</a>&nbsp;and
            businesses that&nbsp;<a href=
            "erb/links/33-links/we-love/31-we-love">We Love...</a></span></p>
        </div>
    </div>
