<form action="/login" method="POST">
  <label for="username"> Username:</label>
  <input class="username" type="text" name="username">
  <label for="password"> Password:</label>
  <input class="password" type="password" name="password">
  <br />
  <input type="submit" value="Log In">
</form>