#content-w2
  #system-message-container
  .item-page
    h2
      | Memberships
    p style="text-align: justify;"
      span style="font-size:16px;"
        strong Please consider supporting the Bike Depot by becoming a Bike Depot Member.
    p style="text-align: justify;"
      span style="font-size:14px;"
    p style="text-align: justify;"
      span style="font-size:14px;"
        | If you are not interested in the perks of membership but still want to support the important work we do, please consider giving a donation.  Any amount is greatly appreciated; every little bit goes a long way – even just $8 can supply a helmet to a kid in need.  With a $1,000 donation, we are able to give bikes, locks, helmets and lights away for a month!
        br
          br
            | By donating directly through Giving First, you ensure that 100% of your donation goes directly to our programs (Giving First doesn’t take a pesky percentage like PayPal does, but is only available for donations, not memberships).
    p style="text-align: justify;"
      span style="font-size:14px;"
        strong There are three ways to sign up for a Bike Depot Membership:
    ul
      li style="text-align: justify;"
        span style="font-size:14px;"
      li style="text-align: justify;"
        span style="font-size:14px;"
      li style="text-align: justify;"
        span style="font-size:14px;"
    p
      |  
    form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"
      input name="cmd" type="hidden" value="_s-xclick"
        input name="hosted_button_id" type="hidden" value="QHMXVRBXBDEZE"
          table
            tbody
              tr
                td
                  input name="on0" type="hidden" value="Memberships"
                    |    
                    strong Bike Depot Memberships
              tr
                td
                  select name="os0"
                    option value="Contributer"
                    option value="Supporter"
                    option value="Advocate"
                    option value="Sustainer"
                    option value="Benefactor"
          input name="currency_code" type="hidden" value="USD"
            input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" type="image"
              img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
    p
      |  
    p
      | All memberships include a free commuter class, business partner coupons, and admittance to Members Only Fix Your Bike hours and special events.
    p
      span style="font-size:14px;"
        strong $30 ~ Contributor 
      img alt="" src="http://thebikedepot.org/images/Photos/180514_496773501149_1928755_n.jpg" style="height: 373px; width: 250px; margin-left: 10px; margin-right: 10px; float: right; "
        br
          span style="font-size:14px;"
            strong
              em Funds bikes, helmets and locks for 2 kids in our Bike Rodeo
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        strong
          | $90 ~ Supporter 
          br
            em Supports 1 week of Fix Your Bike hours
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        strong $150 ~ Advocate 
      br
        span style="font-size:14px;"
          strong
            em Supports 1 month of Earn A Bike classes
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        strong
          | $300 ~ Sustainer
          br
            em Funds one scholarship student to attend our summer bike camp
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        strong $1,000 ~ Benefactor
      br
        span style="font-size:14px;"
          strong
            em Supports one entire seasonal bike giveaway! 
        strong style="font-size: 14px; "
          em (75 bikes, locks, and helmets)
    ul
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
      li
        span style="font-size:14px;"
    p
      span style="font-size:14px;"
        | If you are already a member of 
        a href="http://www.bikedenver.org/" target="_blank"
        | , 
        a href="http://www.facebook.com/pages/Park-Hill-Peloton/200955446599022" target="_blank"
        | , or 
        a href="http://carshare.org/" target="_blank"
        | , you can take $10 off the Bike Depot membership level of your choice.
    p
      |  
    p
      |  
    p
      img alt="" src="http://thebikedepot.org/images/Photos/208167_10150143953916150_5049563_n.jpg" style="height: 200px; width: 316px; margin-left: 10px; margin-right: 10px; float: left; "
    p
      span style="font-size:12px;"
        small
          em The Bike Depot is a nonprofit agency: 501(c)(3) #26-3672109
    p
      span style="font-size:12px;"
        small
          em You may elect to forego the membership benefits and take the full tax donation. If you do, the Bike Depot can provide a statement that no goods or services were provided in exchange for your contribution. The amount of your membership contribution which exceeds the fair market value of the benefits provided by your membership may be tax deductible, as allowed by law.
    p
      span style="font-size:12px;"
        small
          em
            | Your membership includes classes with a fair market value of:
            br
              | $0 for $30 members
              br
                | $20 for $90 members
                br
                  | $40 for $150 members
                  br
                    | $105 for $300 members
                    br
                      | $150 for $1,000 members
          em plus a discount on purchases, the fair market value of which depends on the extent to which you utilize the discount.  Please consult your tax professional for additional guidance.
    p
      span style="font-size:12px;"
        small
          em This information is provided to meet IRS regulatory requirements.  You should consult with a tax professional regarding the tax consequences of your membership contribution.
    p
      span style="font-size:12px;"
        small
          em
            | Please make a donation through GivingFirst.org, 100% of your donation goes to the Bike Depot and 100% of your donation may be tax-deductible. See the "
            strong> Donate Now
            | " link at the top of the page.
    p
      |  
    p
      |  
