<div id="content-w2">
        <div id="system-message-container"></div>

        <div class="item-page">
            <h2>Memberships</h2>

            <p style="text-align: justify;"><span style=
            "font-size:16px;"><strong>Please consider supporting the Bike Depot
            by becoming a Bike Depot Member.</strong></span></p>

            <p style="text-align: justify;"><span style="font-size:14px;">We
            are a 501(c)(3) nonprofit organization and&nbsp;Donations and
            Memberships help keep the Bike Depot's programs running and
            growing.&nbsp;&nbsp; Directly funding our Earn A Bike, Bike Rodeo
            and Fix Your Bike programs through your donation or membership is a
            great way to support cycling and healthy, active living in the
            Denver community. Without the financial support of our donors and
            members, we cannot achieve our goal of making bicycling possible
            for everyone.&nbsp;</span></p>

            <p style="text-align: justify;"><span style="font-size:14px;">If
            you are not interested in the perks of membership but still want to
            support the important work we do, please consider giving a
            donation.&nbsp; Any amount is greatly appreciated; every little bit
            goes a long way – even just $8 can supply a helmet to a kid in
            need. &nbsp;With a $1,000 donation, we are able to give bikes,
            locks, helmets and lights away for a month!<br>
            <br>
            By donating directly through Giving First, you ensure that 100% of
            your donation goes directly to our programs (Giving First doesn’t
            take a pesky percentage like PayPal does, but is only available for
            donations, not memberships).</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><strong>There are three ways to sign up for a
            Bike Depot Membership:</strong></span></p>

            <ul>
                <li style="text-align: justify;"><span style=
                "font-size:14px;">Become a Member through PayPal using the
                buttons below,</span></li>

                <li style="text-align: justify;"><span style=
                "font-size:14px;">Stop by the shop, or</span></li>

                <li style="text-align: justify;"><span style=
                "font-size:14px;">Mail a check to: &nbsp;Attn: Memberships,
                2825 Fairfax St., Denver CO 80207</span></li>
            </ul>

            <p>&nbsp;</p>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
            target="_blank">
                <input name="cmd" type="hidden" value="_s-xclick"><input name=
                "hosted_button_id" type="hidden" value="QHMXVRBXBDEZE">

                <table>
                    <tbody>
                        <tr>
                            <td><input name="on0" type="hidden" value=
                            "Memberships">&nbsp;&nbsp;&nbsp;<strong>Bike
                            Depot&nbsp;Memberships</strong></td>
                        </tr>

                        <tr>
                            <td><select name="os0">
                                <option value="Contributer">
                                    Contributer $30.00 USD
                                </option>

                                <option value="Supporter">
                                    Supporter $90.00 USD
                                </option>

                                <option value="Advocate">
                                    Advocate $150.00 USD
                                </option>

                                <option value="Sustainer">
                                    Sustainer $300.00 USD
                                </option>

                                <option value="Benefactor">
                                    Benefactor $1,000.00 USD
                                </option>
                            </select></td>
                        </tr>
                    </tbody>
                </table><input name="currency_code" type="hidden" value=
                "USD"><input alt=
                "PayPal - The safer, easier way to pay online!" name="submit"
                src=
                "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif"
                type="image"><img alt="" border="0" height="1" src=
                "https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width=
                "1">
            </form>

            <p>&nbsp;</p>

            <p>All memberships include a free commuter class, business partner
            coupons, and admittance to Members Only Fix Your Bike hours and
            special events.</p>

            <p><span style="font-size:14px;"><strong>$30 ~
            Contributor&nbsp;</strong></span><img alt="" src=
            "/images/Photos/180514_496773501149_1928755_n.jpg" style=
            "height: 373px; width: 250px; margin-left: 10px; margin-right: 10px; float: right;"><br>

            <span style="font-size:14px;"><strong><em>Funds bikes, helmets and
            locks for 2 kids in our Bike Rodeo</em></strong></span></p>

            <ul>
                <li><span style="font-size:14px;">15% Off one Specialty
                Class</span></li>

                <li><span style="font-size:14px;">5% Discount on parts and
                accessories</span></li>
            </ul>

            <p><span style="font-size:14px;"><strong>$90 ~ Supporter&nbsp;<br>
            <em>Supports 1 week of Fix Your Bike hours</em></strong></span></p>

            <ul>
                <li><span style="font-size:14px;">One Free Specialty
                Class</span></li>

                <li><span style="font-size:14px;">7% discount on parts and
                accessories</span></li>
            </ul>

            <p><span style="font-size:14px;"><strong>$150 ~
            Advocate&nbsp;</strong></span><br>
            <span style="font-size:14px;"><strong><em>Supports 1 month of Earn
            A Bike classes</em></strong></span></p>

            <ul>
                <li><span style="font-size:14px;">2 Free Specialty
                Classes</span></li>

                <li><span style="font-size:14px;">10% discount on parts and
                accessories</span></li>

                <li><span style="font-size:14px;">Website and Newsletter
                recognition</span></li>
            </ul>

            <p><span style="font-size:14px;"><strong>$300 ~ Sustainer<br>
            <em>Funds one scholarship student to attend our summer bike
            camp</em></strong></span></p>

            <ul>
                <li><span style="font-size:14px;">2 Free Specialty Classes and
                one Expert Class</span></li>

                <li><span style="font-size:14px;">15% discount on parts and
                accessories</span></li>

                <li><span style="font-size:14px;">Website and Newsletter
                recognition</span></li>
            </ul>

            <p><span style="font-size:14px;"><strong>$1,000 ~
            Benefactor</strong></span><br>
            <span style="font-size:14px;"><strong><em>Supports one entire
            seasonal bike giveaway!&nbsp;</em></strong></span><strong style=
            "font-size: 14px;"><em>(75 bikes, locks, and
            helmets)</em></strong></p>

            <ul>
                <li><span style="font-size:14px;">Free Master Mechanics
                Class</span></li>

                <li><span style="font-size:14px;">20% discount on parts,
                accessories and classes</span></li>

                <li><span style="font-size:14px;">A coveted Bike Depot jersey
                by Primal!</span></li>

                <li><span style="font-size:14px;">Website and Newsletter
                recognition</span></li>
            </ul>

            <p><span style="font-size:14px;">If you are already a member
            of&nbsp;<a href="http://www.bikedenver.org/" target=
            "_blank">BikeDenver</a>,&nbsp;<a href=
            "http://www.facebook.com/pages/Park-Hill-Peloton/200955446599022"
            target="_blank">Park Hill Peloton</a>, or&nbsp;<a href=
            "http://carshare.org/" target="_blank">eGo CarShare</a>, you can
            take $10 off the Bike Depot membership level of your
            choice.</span></p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p><img alt="" src=
            "/images/Photos/208167_10150143953916150_5049563_n.jpg" style=
            "height: 200px; width: 316px; margin-left: 10px; margin-right: 10px; float: left;"></p>

            <p><span style="font-size:12px;"><small><em>The Bike Depot is a
            nonprofit agency: 501(c)(3) #26-3672109</em></small></span></p>

            <p><span style="font-size:12px;"><small><em>You may elect to forego
            the membership benefits and take the full tax donation.&nbsp;If you
            do, the Bike Depot can provide a statement that no goods or
            services were provided in exchange for your contribution.&nbsp;The
            amount of your membership contribution which exceeds the fair
            market value of the benefits provided by your
            membership&nbsp;may&nbsp;be tax deductible, as allowed by
            law.</em></small></span></p>

            <p><span style="font-size:12px;"><small><em>Your membership
            includes classes with a fair market value of:<br>
            $0 for $30 members<br>
            $20 for $90 members<br>
            $40 for $150 members<br>
            $105 for $300 members<br>
            $150 for $1,000 members</em> <em>plus a discount on purchases, the
            fair market value of which depends on the extent to which you
            utilize the discount.&nbsp; Please consult your tax professional
            for additional guidance.</em></small></span></p>

            <p><span style="font-size:12px;"><small><em>This information is
            provided to meet IRS regulatory requirements.&nbsp; You should
            consult with a tax professional regarding the tax consequences of
            your membership contribution.</em></small></span></p>

            <p><span style="font-size:12px;"><small><em>Please make a donation
            through GivingFirst.org, 100% of your donation goes to the Bike
            Depot and 100% of your donation may be tax-deductible. See the
            "<strong>Donate Now</strong>" link at the top of the
            page.</em></small></span></p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
    </div>
