<div id="content-w2">
    <div id="system-message-container"></div>

    <div class="item-page">
        <h2>Mission, Vision and Values</h2>

        <p style="text-align: justify;"><strong><span style=
        "color: #008080; font-size: 14px"><big style=
        "text-decoration: underline">Our Mission</big></span></strong></p>

        <p style="text-align: justify;"><span style="font-size: 14px;">We
        strive to foster the growth of bicyclists and bicycle communities
        through programs, education and access.</span></p>

        <p style="text-align: justify;"><strong><span style=
        "color: #008080; font-size: 14px"><big style=
        "text-decoration: underline">Our Vision</big></span></strong></p>

        <p style="text-align: justify;"><span style="font-size:14px;">We
        envision a world where bicycling is a way of life in our
        communities.</span></p>

        <p style="text-align: justify;"><span style=
        "color:#008080;"><strong><span style="font-size: 14px;"><big style=
        "text-decoration: underline">Our
        Values</big></span></strong></span></p>

        <p><img alt="" src=
        "/images/Photos/534470_10150881921706150_1143030242_n.jpg" style=
        "text-align: justify; font-family: Arial; font-size: 13px; height: 263px; width: 350px; float: right;"></p>

        <ul>
            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Safety</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Personal health</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Environmental health</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Fun!</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Creating community</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Sustainability</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Diversity</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Equality</span></li>

            <li style=
            "font-weight: normal; font-size: 13px; vertical-align: baseline; font-style: normal; font-family: Arial; list-style-type: disc; background-color: transparent; font-variant: normal; text-decoration: none; text-align: justify;">
            <span style="font-size:14px;">Education</span></li>

            <li style=
            "FONT-WEIGHT:normal;FONT-SIZE:13px;VERTICAL-ALIGN:baseline;FONT-STYLE:normal;FONT-FAMILY:Arial;LIST-STYLE-TYPE:disc;BACKGROUND-COLOR:transparent;FONT-VARIANT:normal;TEXT-DECORATION:none">
            <span style=
            "background-color: transparent; font-family: Arial; font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: none; vertical-align: baseline">
            Self-sufficiency</span></li>
        </ul>
    </div>
</div>
