<div id="content-w2">
  <div id="system-message-container"></div>

  <div class="item-page">
      <h2>New Volunteers</h2>

      <p style="text-align: justify;"><span style="font-size:12px;">We
      need volunteers of all stripes and abilities to help us fulfill our
      mission and keep quality bikes rolling out of our shop.&nbsp; When
      you give your valuable time and skills to the Bike Depot, you are
      impacting kids and adults and helping to spread biking throughout
      Denver.&nbsp;</span></p>

      <p style="text-align: justify;"><span style="font-size:12px;">No
      previous mechanical knowledge is required!&nbsp; We need folks to
      help with marketing, design, website, fundraising, greeting,
      sorting, cleaning, Craigslist posting, data entry, etc.&nbsp; The
      Bike Depot is almost completely staffed by volunteers and it is
      their generous support that keeps us running and getting bikes into
      the hands of those in our community that need them.</span></p>

      <div><img alt="" src=
      "/images/Photos/change%20picture%20bank%20127.gif" style=
      "height: 155px; width: 150px; margin-left: 20px; margin-right: 20px; float: left;"></div>

      <p>&nbsp;</p>

      <p><span style="font-size:16px;"><strong>NEW
      VOLUNTEERS&nbsp;</strong></span></p>

      <p><span style="font-size:14px;">Volunteering is easy as
      1-2-3!&nbsp;</span></p>

      <p><span style="font-size:14px;">1. Fill out the <a href=
      "/support/application">
      APPLICATION</a></span></p>

      <p><span style="font-size:14px;">2. Attend orientation</span></p>

      <p><span style="font-size:14px;">3. Come for your first shift or
      begin your project</span></p>

      <p style="text-align: justify;"><span style=
      "font-size:14px;"><strong>1) Fill out the <a href=
      "/support/application">
      APPLICATION</a></strong><br>
      <em>Please be sure to fill out the application <strong>in its
      entirety</strong>.&nbsp; As you fill it out, please think about how
      you could best help the Bike Depot serve our community and what you
      will get out of this service.&nbsp; In the future we will search
      your volunteer profile to approach you for special opportunities
      based on your interests.&nbsp; After we review and approve your
      application we will invite you to our next
      orientation.</em></span></p>

      <p style="text-align: justify;"><span style=
      "font-size:14px;"><strong>2) Attend an "informative
      interview"</strong><br>
      <em>These casual, informal meetings take about 20 minutes. We will
      discuss what you wrote in your volunteer application and get you
      plugged into a volunteer opportunity that suits your
      interests.</em></span></p>

      <p style="text-align: justify;"><span style=
      "font-size:14px;"><strong>3) Sign up for a shift and get
      started</strong><br>
      <em>On your first day we try to pair you with a more experienced
      volunteer, but depending on availability this might not
      happen.&nbsp; We have a several volunteer positions that you can
      jump right into and others that require more skill and
      training.</em></span></p>

      <p style="text-align: justify;"><br>
      <span style="font-size:14px;"><strong>Some positions and tasks we
      need help with</strong><br>
      • Bicycle wrenching - work on bikes<br>
      • Shop Leads – those with the skill to take charge of the shop for
      a weekly shift.<br>
      • Teach classes<br>
      • Greet and help customers and participants<br>
      • Sell bikes, parts and accessories<br>
      • Outreach and marketing<br>
      • Bike Collection Volunteer<br>
      • Manage events<br>
      • Fundraising and grant writing<br>
      • Website and marketing development<br>
      • An infinite number of other tasks both big and small!</span></p>

      <p style="text-align: justify;"><br>
      <span style="font-size:14px;"><strong>Benefits</strong><br>
      We offer generous benefits to dedicated volunteers that commit to a
      weekly/bi-weekly shift, a committee or a special project.&nbsp; Our
      benefit structure is as follows:<br>
      <br>
      Volunteer 12 hours/month = 15% off Bikes and Bike Gear<br>
      Volunteer 24 hours/month = 30% off Bikes and Bike Gear<br>
      Volunteer 24 hours/month + added responsibility* = cost of item +
      10% (employee discount)<br>
      *such as lead mechanic, committee chair, project manager,
      etc.</span></p>

      <p style="text-align: justify;"><span style="font-size:14px;">Thank
      you so much for your interest in helping to further the mission of
      the Bike Depot.</span></p>
  </div>
</div>
