div class="content-w2"
  div class="system-message-container"
  div id="item-page"
    h2
      | Park Hill Family Bike Ride
    p
      img alt="" src="http://thebikedepot.org/images/Photos/281254_10150238098701150_5118384_n.jpg" style="float: left; margin-left: 15px; margin-right: 15px; "
    p style="text-align: justify;"
      span style="font-size:14px;"
        | The Park Hill Family Bike Rides are free events sponsored by the Bike Depot.  This year, there will be several rides winding through the lovely streets of Park Hill led by our Bike Depot Volunteers.  The courses are generally around 4 miles long and are planned to accommodate those cyclists on the smaller and younger end of the spectrum.  Each ride will begin at 4:00pm at the Bike Depot at
        a href="http://maps.google.com/maps?q=2825+Fairfax+St.++Denver,+CO+80207&hl=en&sll=38.997934,-105.550567&sspn=4.993723,9.876709&hnear=2825+Fairfax+St,+Denver,+Colorado+80207&t=m&z=16" target="_blank"
        | and conclude at
        a href="http://obliospizza.com/" target="_blank"
        | for $5 AYCE Pizza, with a mid-ride pause for refreshments at Clementine -
        a href="http://cake-crumbs.com/" target="_blank"
        | Cupcake Truck.
    p style="text-align: justify;"
      |  
    p style="text-align: justify;"
      span style="font-size:14px;"
        | These free rides are designed to be fun, to teach bicycling safety (helmets required) and to accommodate families.  Young riders must be riding without training wheels and be accompanied by an adult.  Smaller children are welcome on “trail-a-bikes” or in bicycle trailers behind an adult.  For more information, contact Jacqui Shumway with the Park Hill Family Bike Ride Committee at 
        javascript:
          | \n         :javascript
                  | This email address is being protected from spambots. You need JavaScript enabled to view it.
        javascript:
                  | \.  We welcome inquiries, suggestions, discussion of volunteer opportunities and more.  You can also contact the Bike Depot at (303) 393-1963 for more information. 
    p
      |  
    p
      span style="font-size:16px;"
        | "Like" the 
        a href="http://www.facebook.com/pages/Park-Hill-Family-Bike-Ride/118093834895522" target="_blank"
        |  for updates and more information!
    p align="center"
      |  
    p align="center"
      |  
    p align="center"
      img alt="" src="http://thebikedepot.org/images/Photos/60972_430742171149_2056932_n.jpg" style="height: 261px; width: 350px; margin-left: 10px; margin-right: 10px; float: right; "
    p align="center"
      strong style="font-size: 14px; "
    p align="center"
      span style="font-size:14px;"
        | All rides leave at 4:00pm from the Bike Depot at
        = succeed ".\u{a0}" do
          a href="http://maps.google.com/maps?q=2825+Fairfax+St.++Denver,+CO+80207&hl=en&sll=38.997934,-105.550567&sspn=4.993723,9.876709&hnear=2825+Fairfax+St,+Denver,+Colorado+80207&t=m&z=16" target="_blank"
        | Please arrive early to register.
    p align="center"
      |  
    p align="center"
      |  
    ul
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
    p
      |  
    p align="center"
      |  
    p align="center"
      span style="font-size:14px;"
        strong Bike Depot Community Rides- New!
    p style="text-align: justify;"
      span style="font-size:14px;"
        | Bike Depot Community rides will offer additional opportunities for members of our community to get together and ride. These rides will be more adult-oriented and include longer rides. The Community rides are also free and open to the public and leave at 4:00pm from the Bike Depot at
        = succeed "." do
          a href="http://maps.google.com/maps?q=2825+Fairfax+St.++Denver,+CO+80207&hl=en&sll=38.997934,-105.550567&sspn=4.993723,9.876709&hnear=2825+Fairfax+St,+Denver,+Colorado+80207&t=m&z=16" target="_blank"
    p
      |  
    ul
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
      li style=""
        span style="font-size:14px;"
