<div id="content-w2">
    <div id="system-message-container"></div>

    <div class="item-page">
        <h2>Privacy Policy</h2>

        <p style="text-align: justify;"><span style="font-size:14px;">The
        Bike Depot values the contributions that our donors make to sustain
        our mission. To protect the privacy of our donors and their special
        relationship with us, we maintain the following
        policies:</span></p>

        <ul>
            <li style="text-align: justify;"><span style=
            "font-size:14px;"><img alt="" src=
            "/images/Photos/lock_bike_cableandu_03_ap.gif" style=
            "float: right;">We do not trade our donor lists with other
            organizations.</span></li>

            <li style="text-align: justify;"><span style=
            "font-size:14px;">We do not sell our donor lists to other
            organizations.</span></li>

            <li style="text-align: justify;"><span style=
            "font-size:14px;">We will contact donors prior to listing their
            names in&nbsp;</span><span style="font-size: 14px;">our &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;publications to solicit their
            consent and their preferred listing.</span></li>
        </ul>

        <ul>
            <li style="text-align: justify;"><span style=
            "font-size:14px;">We offer donors the option to be recognized
            anonymously.</span></li>

            <li style="text-align: justify;"><span style=
            "font-size:14px;">Donors may request that they not be solicited
            in the future.</span></li>

            <li style="text-align: justify;"><span style=
            "font-size:14px;">Donors may request not to receive mailings,
            such as&nbsp;</span><span style="font-size: 14px;">our &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; newsletter.</span></li>
        </ul>

        <div style="text-align: justify;">
            <span style="font-size:14px;">For further information, please
            contact us.</span>
        </div>

        <div style="text-align: justify;">
            &nbsp;
        </div>

        <div style="text-align: center;">
            &nbsp;
        </div>
    </div>
</div>
