div class="content-w2"
  div class="system-message-container"
  div id="item-page"
    h2
      | Programs
    p style="text-align: justify;"
      span style="font-size:14px;"
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          a href="/index.php/programs/earn-a-bike"
        |  - Anyone in the community that would like to do so can earn a bike by participating in one of our Earn A Bike programs.
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          a href="/index.php/programs/fix-your-bike"
        |  - During our open shop hours, those that would like to learn how to fix a problem or just need the tools and space to do so can.  Volunteer mechanics are on hand to help with any questions that may arise.
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          a href="/index.php/programs/classes"
        |  - Providing education to those who want to learn how to properly maintain, repair and upgrade their bike.
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          a href="/index.php/programs/bike-camp"
        |  - Focused on promoting the various benefits of bicycling to Denver's youth: as a means of transportation, a fun outdoor activity and as physical exercise through Fun Bike Rides, Field Trips, Bike Maintenance 101, Community Building and a Mountain Biking Excursion.
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          a href="/index.php/programs/bike-rodeo"
        |  - Where kids "earn" a refurbished bike by attending a safety and maintenance or skills class.  
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          u Bicycle Advocacy
        | \- The Bike Depot promotes improvements to our community to make bicycling safer and easier.  This includes supporting improvements in bike access including establishing dedicated bike lanes, availability of safe places to park bikes and encouraging and promoting bicycle riding and commuting. 
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          u Refurbishing Used Bikes
        | \- The Bike Depot provides a new life for old bikes and keeps them out of the landfill.
