<div id="content-w2">
        <div id="system-message-container"></div>

        <div class="item-page">
            <h2>Programs</h2>

            <p style="text-align: justify;"><span style="font-size:14px;">The
            Bike Depot promotes active and healthy living by increasing access
            to bicycles, promoting safe, bike-friendly environments and
            advocating for policies that promote bicycle access and use.
            &nbsp;We do this through our educational and recreational programs
            including:</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style="font-size:16px;"><a href=
            "/programs/earn-a-bike">Earn A Bike</a></span>&nbsp;- Anyone in
            the community that would like to do so can earn a bike by
            participating in one of our Earn A Bike programs.</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style="font-size:16px;"><a href=
            "/programs/fix-your-bike">Fix Your Bike</a></span>&nbsp;- During
            our open shop hours, those that would like to learn how to fix a
            problem or just need the tools and space to do so can.
            &nbsp;Volunteer mechanics are on hand to help with any questions
            that may arise.</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style="font-size:16px;"><a href=
            "/programs/classes">Classes</a></span>&nbsp;- Providing
            education to those who want to learn how to properly maintain,
            repair and upgrade their bike.</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style="font-size:16px;"><a href=
            "/programs/bike-camp">Bike Camp</a></span>&nbsp;-&nbsp;Focused
            on promoting the various benefits of bicycling to Denver's youth:
            as a means of transportation, a fun outdoor activity and as
            physical exercise through&nbsp;Fun Bike Rides,&nbsp;Field
            Trips,&nbsp;Bike Maintenance 101,&nbsp;Community Building and
            a&nbsp;Mountain Biking Excursion.</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style="font-size:16px;"><a href=
            "/programs/bike-rodeo">Bike Rodeo</a></span>&nbsp;-&nbsp;Where
            kids "earn" a refurbished bike by attending a safety and
            maintenance or skills class.&nbsp;&nbsp;</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style=
            "font-size: 16px; text-decoration: underline">Bicycle
            Advocacy</span> - The Bike Depot promotes improvements to our
            community to make bicycling safer and easier.&nbsp; This includes
            supporting improvements in bike access including establishing
            dedicated bike lanes, availability of safe places to park bikes and
            encouraging and promoting bicycle riding and
            commuting.&nbsp;</span></p>

            <p style="text-align: justify;"><span style=
            "font-size:14px;"><span style=
            "font-size: 16px; text-decoration: underline">Refurbishing Used
            Bikes</span> - The Bike Depot provides a new life for old bikes and
            keeps them out of the landfill.</span></p>
        </div>
    </div>
