<div id="content-w2">
    <div id="system-message-container"></div>

    <div class="item-page">
        <h2>Service Menu</h2>

        <p><img alt="" src=
        "/images/540520_10150653511071150_367635748_np.jpg" style=
        "height: 266px; width: 750px;"></p>

        <p><span style=
        "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
        </span></p>

        <div class="moduletable">
            <span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <!-- BEGIN: Custom advanced (www.jtricks.com) --></span>

            <p style="text-align: center"><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <strong>SERVICE MENU and LABOR PRICE
            LIST</strong></span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p style="text-align: center"><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            We offer services beyond this menu –</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p style="text-align: center"><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            Please ask for a quote if you do not see what you
            need.</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            </span></p>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <strong>Basic Tune-Up $25</strong></span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            -Adjust Brakes and Derailleurs -Bolt Check for Safety -Lube
            Drivetrain</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <strong>Standard Tune-Up $65</strong></span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            -Entire bike cleaned<br>
            -Wheels removed and trued<br>
            -Check all bolts for safety<br>
            -Barrel adjusters reset<br>
            -Drivetrain lubed<br>
            -Cables lubed<br>
            -Hubs adjusted<br>
            -Headset Adjusted</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <strong>Premium Tune-Up $100</strong></span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            Includes the service of a standard tune,
            PLUS...</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            -Drivetrain parts removed and cleaned in parts washer -One
            overhaul (hubs, headset or bottom bracket) if
            necessary</span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            <strong>Wheels:</strong></span></p><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;"></span>

            <p style="width: 75%;&gt; &lt;span style="><span style=
            "color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px;">
            Trued <span style="float: right;">$15 base price / $30 max
            price</span></span></p>

            <p style="width: 75%;&gt; &lt;span style=">Broken Spokes
            <span style="float: right;">$15 + $5/labor per spoke + $1/parts
            per spoke</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Re-Tensioned
            <span style="float: right;">$30</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Wheel Build
            <span style="float: right;">$50 each wheel + cost of
            parts</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Install New Wheel
            <span style="float: right;">$15 Rear/$10 Front</span></p>

            <p><strong>Tubes and Tires</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Tube installation
            <span style="float: right;">$5 per wheel</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Tire installation
            <span style="float: right;">$5 per wheel</span></p>

            <p style="width: 75%;&gt; &lt;span style=">erbe injection
            <span style="float: right;">$5 per wheel</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Internal Hub
            <span style="float: right;">$10</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Coster Brake
            <span style="float: right;">$10 (kids bike is $5)</span></p>

            <p>*Tube installation labor does not compile on top of Tire
            installation labor or erbe injection labor: e.g. a new tire +
            new tube installed with erbe will cost $5 Labor + cost of parts
            (tube + tire + erbe)</p>

            <p><strong>Brakes:</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Adjustment &amp;
            Alignment <span style="float: right;">$10 per brake</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Pad
            Replacement<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Cable
            Replacement<span style="float: right;">$10 per brake</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Caliper
            Installation<span style="float: right;">$15 per
            brake</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Brake Lever
            Installation<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Disc Brake
            Bleed<span style="float: right;">$30 (does not include
            fluid)</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Rotor
            Replacement<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Rotor
            Truing<span style="float: right;">$10</span></p>

            <p><strong>Drivetrain:</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Derailleur
            Adjustment<span style="float: right;">$10 per
            derailleur</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Cable
            Replacement<span style="float: right;">$10 per
            derailleur</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Derailleur
            Installation<span style="float: right;">$15 per
            derailleur</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Derailleur Hanger
            Straightening<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Shifter
            Installation<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Chain
            Installation<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Freewheel or
            Cassette Installation<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Crank
            Installation<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Chainring
            Installation<span style="float: right;">$15</span></p>

            <p><strong>Bearings:</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Headset
            Adjustment<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Headset
            Overhaul<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Headset
            Installation<span style="float: right;">$25</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Fork
            Installation<span style="float: right;">$20</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Hub
            Adjustment<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Hub
            Overhaul<span style="float: right;">$20</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Bottom Bracket
            Adjustment<span style="float: right;">$10</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Bottom Bracket
            Overhaul<span style="float: right;">$20</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Bottom Bracket
            Installation<span style="float: right;">$20 for cartridge/$25
            three piece</span></p>

            <p><strong>ETC:</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Handlebar
            Installation<span style="float: right;">$15 for flat/$25 for
            drop</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Stem
            Installation<span style="float: right;">$15-25</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Wrap
            Bars<span style="float: right;">$10</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Grip
            Installation<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Saddle
            Installation<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Pedal
            Installation<span style="float: right;">$5</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Rack
            Installation<span style="float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Computer
            Installation<span style="float: right;">$20</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Training Wheel
            Installation<span style="float: right;">$15</span></p>

            <p><strong>Thread/Frame Treatments:</strong></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style=">Tap Crank
            Arm<span style="float: right;">$5 per arm</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Helicoil
            Installation (crank saver)<span style=
            "float: right;">$15</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Face Bottom Bracket
            Shell<span style="float: right;">$15-25</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Face Head
            Tube<span style="float: right;">$15-25</span></p>

            <p style="width: 75%;&gt; &lt;span style=">Chase Bottom
            Bracket<span style="float: right;">$15-25</span></p>

            <p></p>

            <p style="width: 75%;&gt; &lt;span style="><strong>Lubricate
            Chain:</strong> <span style="float: right;">No
            Charge</span></p>

            <p style="width: 75%;&gt; &lt;span style="><strong>Bolt
            Check:</strong> <span style="float: right;">No
            Charge</span></p>

            <p style="width: 75%;&gt; &lt;span style="><strong>Air
            Tires:</strong> <span style="float: right;">No
            Charge</span></p><!-- END: Custom advanced (www.jtricks.com) -->
        </div>
        <p>
    </div>
</div>
