<div id="content-w2">	
		
		

		
		
<div id="system-message-container">
</div>
		<div class="item-page">

	<h2>
			Service Menu		</h2>








<p>
	<img alt="" src="/images/540520_10150653511071150_367635748_np.jpg" style="height: 266px; width: 750px; "></p>
<p>
	<span style="color: rgb(0, 0, 0); font-family: sans-serif; font-size: 13px; line-height: 19px; ">		<div class="moduletable">
					<!-- BEGIN: Custom advanced (www.jtricks.com) -->

<p align="center">
    <strong>SERVICE MENU and LABOR PRICE LIST</strong>
</p>
<p align="center">
    We offer services beyond this menu –
</p>
<p align="center">
    Please ask for a quote if you do not see what you need.
</p>
<p>

</p>
<p>
<strong>Basic Tune-Up $25</strong>
</p>
<p>
    -Adjust Brakes and Derailleurs

    -Bolt Check for Safety

    -Lube Drivetrain
</p>

<p>
    <strong>Standard Tune-Up $65</strong>
</p>
<p>
    -Entire bike cleaned
    <br>
    -Wheels removed and trued
    <br>
    -Check all bolts for safety
    <br>
    -Barrel adjusters reset
    <br>
    -Drivetrain lubed
    <br>
    -Cables lubed
    <br>
    -Hubs adjusted
    <br>
    -Headset Adjusted
</p>

<p>
    <strong>Premium Tune-Up $100</strong>
</p>
<p>
    Includes the service of a standard tune, PLUS...
</p>
<p>
    -Drivetrain parts removed and cleaned in parts washer

    -One overhaul (hubs, headset or bottom bracket) if necessary
</p>

<p>
    <strong>Wheels:</strong>
</p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Trued <span style="float: right;">$15 base price / $30 max price</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Broken Spokes <span style="float: right;">$15 + $5/labor per spoke + $1/parts per spoke</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Re-Tensioned <span style="float: right;">$30</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Wheel Build <span style="float: right;">$50 each wheel + cost of parts</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Install New Wheel <span style="float: right;">$15 Rear/$10 Front</span></p>

     




<p>
    <strong>Tubes and Tires</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Tube installation <span style="float: right;">$5 per wheel</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Tire installation <span style="float: right;">$5 per wheel</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>erbe injection <span style="float: right;">$5 per wheel</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Internal Hub <span style="float: right;">$10</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left>Coster Brake <span style="float: right;">$10 (kids bike is $5)</span></p>




<p>
    *Tube installation labor does not compile on top of Tire installation labor or erbe injection labor: e.g. a new tire + new tube installed with erbe will
    cost $5 Labor + cost of parts (tube + tire + erbe)
</p>
<p>
    <strong>Brakes:</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Adjustment &amp; Alignment <span style="float: right;">$10 per brake</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Pad Replacement<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Cable Replacement<span style="float: right;">$10 per brake</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Caliper Installation<span style="float: right;">$15 per brake</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Brake Lever Installation<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Disc Brake Bleed<span style="float: right;">$30 (does not include fluid)</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Rotor Replacement<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Rotor Truing<span style="float: right;">$10</span></p>



<p>
    <strong>Drivetrain:</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Derailleur Adjustment<span style="float: right;">$10 per derailleur</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Cable Replacement<span style="float: right;">$10 per derailleur</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Derailleur Installation<span style="float: right;">$15 per derailleur</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Derailleur Hanger Straightening<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Shifter Installation<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Chain Installation<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Freewheel or Cassette Installation<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Crank Installation<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Chainring Installation<span style="float: right;">$15</span></p>






<p>
    <strong>Bearings:</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Headset Adjustment<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Headset Overhaul<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Headset Installation<span style="float: right;">$25</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Fork Installation<span style="float: right;">$20</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Hub Adjustment<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Hub Overhaul<span style="float: right;">$20</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Bottom Bracket Adjustment<span style="float: right;">$10</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Bottom Bracket Overhaul<span style="float: right;">$20</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Bottom Bracket Installation<span style="float: right;">$20 for cartridge/$25 three piece</span></p>






<p>
    <strong>ETC:</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Handlebar Installation<span style="float: right;">$15 for flat/$25 for drop</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Stem Installation<span style="float: right;">$15-25</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Wrap Bars<span style="float: right;">$10</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Grip Installation<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Saddle Installation<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Pedal Installation<span style="float: right;">$5</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Rack Installation<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Computer Installation<span style="float: right;">$20</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Training Wheel Installation<span style="float: right;">$15</span></p>







<p>
    <strong>Thread/Frame Treatments:</strong>
</p>

<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left>Tap Crank Arm<span style="float: right;">$5 per arm</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Helicoil Installation (crank saver)<span style="float: right;">$15</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Face Bottom Bracket Shell<span style="float: right;">$15-25</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Face Head Tube<span style="float: right;">$15-25</span></p>


<p style="width: 75%;&gt;
&lt;span style=" float: left>Chase Bottom Bracket<span style="float: right;">$15-25</span></p>






<p>
</p>
<p style="width: 75%;&gt;
&lt;span style=" float: left><strong>Lubricate Chain: </strong> <span style="float: right;">No Charge</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left><strong>Bolt Check: </strong> <span style="float: right;">No Charge</span></p>

<p style="width: 75%;&gt;
&lt;span style=" float: left><strong>Air Tires: </strong> <span style="float: right;">No Charge</span></p>




<!-- END: Custom advanced (www.jtricks.com) -->
		</div>
	</span></p>
 
	
</div>

	</div>