<div id="content-w2">	
		
		

		
		
<div id="system-message-container">
</div>
		<div class="item-page">

	<h2>
			Staff and Board		</h2>








<p style="text-align: justify;">
	<span style="font-size:14px;">Here at the Bike Depot we are lucky to have an amazing Staff and Board of Directors who work extra hard every day to further the mission of the Bike Depot.  We would like to introduce you to all these friendly people and encourage you to seek us out and say "hello!"</span></p>
<p>
	 </p>
<p>
	<em><strong><span style="font-size:20px;">Our Fabulous Staff</span></strong></em></p>
<p>
	<span style="font-size:14px;"><a href="erb/about/staff-board/17-about/staff-board/38-james-pullen">James Pullen</a> <br>
	Operations Manager<br><script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy47669 = 'j&#97;m&#101;rs' + '&#64;';
 addy47669 = addy47669 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy47669 + '\'>');
 document.write(addy47669);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
<p>
	<span style="font-size:14px;"><a href="erb/about/staff-board/17-about/staff-board/39-ryne-emory">Ryne Emory</a> <br>
	Program Associate<br><script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy91461 = 'ryn&#101;' + '&#64;';
 addy91461 = addy91461 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy91461 + '\'>');
 document.write(addy91461);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
<p>
	<span style="font-size:14px;"><a href="erb/about/staff-board/17-about/staff-board/44-morgan-matter">Morgan Matter</a><br>
	Service Manager<br><script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy84116 = 'm&#111;rg&#97;n' + '&#64;';
 addy84116 = addy84116 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy84116 + '\'>');
 document.write(addy84116);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
<p>
	<span style="font-size:14px;"><a href="erb/about/staff-board/17-about/staff-board/43-bill-davis">Bill Davis</a><br>
	Mechanic<br><script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy5051 = 'b&#105;ll' + '&#64;';
 addy5051 = addy5051 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy5051 + '\'>');
 document.write(addy5051);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
<p>
	<span style="font-size:14px;"><a href="erb/about/staff-board/17-about/staff-board/42-mike-decker">Mike Decker</a><br>
	Retail Associate<br><script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy99075 = 'm&#105;k&#101;' + '&#64;';
 addy99075 = addy99075 + 'th&#101;b&#105;k&#101;d&#101;p&#111;t' + '&#46;' + '&#111;rg';
 document.write('<a ' + path + '\'' + prefix + ':' + addy99075 + '\'>');
 document.write(addy99075);
 document.write('<\/a>');
 //-->\n </script><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script>This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
<p>
	 </p>
<p>
	<strong><em><span style="font-size:20px;"><a href="erb/about/staff-board/17-about/staff-board/7-board">Board of Directors</a></span></em></strong></p>
 
	
</div>

	</div>