#content-w2
  #system-message-container
  .item-page
    h2
      | Support
    p style="text-align: justify;"
      span style="font-size: 20px; "
    p style="text-align: justify;"
      |  
    p style="text-align: justify;"
      span style="font-size:14px;"
        strong>
          span style="font-size:16px;"
            u Financial Support
          | \-
        |  Support the Bike Depot by becoming a Member or making a
        = succeed ".\u{a0}" do
          a href="https://www.givingfirst.org/index.php?section=organizations&action=newDonation&fwID=27598" target="_blank"
    p style="text-align: justify;"
      span style="font-size:14px;"
    p style="text-align: justify;"
      span style="font-size:14px;"
        | Membership and donation dollars directly fund the programs and operations that we provide to the community.  Without the financial support of our members and donors, we cannot achieve our mission of making bicycling possible for everyone.  Click here for details on 
        a href="http://www.thebikedepot.org/betasite/index.php/support/memberships" target="_blank"
        | \.
    p style="text-align: justify;"
      |  
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          u
            strong Volunteer Your Time
        | \- The Bike Depot is a volunteer-driven organization.  All that we do would not be possible without the generous donation of time from our volunteers.  We have a wide variety of opportunities for you to help-out.  Of course, there are always bikes to be worked on, but we also have a need for general office help, organizing, marketing, fundraising, event planning, etc.  If you’ve got some time, we can put it to good use! Click here for more details on becoming a Bike Depot 
        a href="/index.php/support/volunteer/21-new-volunteers" target="_blank"
        | \.
    p style="text-align: justify;"
      |  
    p style="text-align: justify;"
      span style="font-size:14px;"
        span style="font-size:16px;"
          strong
            u Donate your used bicycles, bicycle parts, accessories and child trailers
        | \- Each year, the Bike Depot takes in hundreds of bikes from people like you, whips them into shape and finds them a new home in the community.  We’d love to help your old bike make someone very happy.  We accept bikes in any condition; parts and accessories too.  We are committed to reusing and recycling, so if it can’t be used – it will be recycled if at all possible.  We are also in need of items to help with our operation. This includes tools, equipment, supplies and other items. Click here for more information about 
        a href="/index.php/support/donate-bikes" target="_blank"
        | , 
        a href="/index.php/support/organizing-a-bike-collection-drive" target="_blank"
        |  and please check out our current 
        a href="/index.php/support/wish-list" target="_blank"
        | \.
