<div id="content-w2">
        <div id="system-message-container"></div>

        <div class="item-page">
            <h2>Wish List</h2>

            <p style="text-align: justify;"><span style="font-size:14px;">While
            we are always in need of bikes, accessories, parts, volunteers,
            members and funding, there are tons of other random items that the
            Bike Depot needs.&nbsp; Please peruse this list to see if you have
            any of these things lying around looking for a good new home. If
            you are not sure about something you have and that you want to give
            us, feel free to give us a call.</span></p>

            <p><span style="font-size:14px;">&nbsp; &nbsp;&nbsp;</span></p>

            <ul>
                <li><strong><span style="font-size:16px;">Working
                Refridgerator</span></strong><strong><span style=
                "font-size:16px;"><img height="182" id="irc_mi" src=
                "http://c366610.r10.cf1.rackcdn.com/flip-top-containers2629-22016.jpg"
                style="margin-top: 0px; float: right;" width=
                "180"></span></strong></li>
            </ul>

            <ul>
                <li><strong><span style="font-size:16px;">2 dozen commercial
                Flip Top Bins</span></strong></li>
            </ul>

            <ul>
                <li><strong><span style="font-size:16px;">Steel Drawer Small
                Parts Organizer (not used filing cabinets)</span></strong></li>
            </ul>

            <ul>
                <li><strong><span style="font-size:16px;">Printer
                paper</span></strong></li>
            </ul>

            <ul>
                <li>
                    <strong><span style="font-size:16px;">Fencing
                    materials</span></strong>

                    <ul>
                        <li><strong><span style="font-size:16px;">1 dozen 4x4
                        posts 8' long</span></strong></li>

                        <li><strong><span style="font-size:16px;">50-60 6'
                        fence pickets (boards)</span></strong></li>
                    </ul>
                </li>
            </ul>

            <ul>
                <li>
                    <strong><span style="font-size:16px;">General Building
                    materials for the new office space</span></strong><br>
                    <img id="irc_mi" src=
                    "http://i21.geccdn.net/site/images/n-picgroup/139.jpg"
                    style=
                    "margin-top: 74px; width: 175px; height: 175px; float: right;">

                    <ul>
                        <li><strong><span style="font-size:16px;">Stud length 2
                        x4's</span></strong></li>

                        <li><strong><span style="font-size:16px;">1/4 - 1/2"
                        plywood (prefferably full sheets)</span></strong></li>

                        <li><strong><span style="font-size:16px;">6-8 boxes of
                        Pergo or other laminate flooring.</span></strong></li>
                    </ul>
                </li>
            </ul>

            <p>&nbsp;</p>
        </div>
    </div>
