div class="content-w2"
  div class="system-message-container"
  div id="item-page"
    h2
      | Xtracycle
    p
      img alt="" src="http://thebikedepot.org/images/logo-header.png" style="float: left; margin-left: 30px; margin-right: 30px; "
    p
      |  
    p
      span style="font-size:22px;"
        strong What if a bike was more than a toy?
    p
      |  
    p
      |  
    p style="margin-left: 40px; "
      img alt="" src="http://thebikedepot.org/images/xtracycle%20pic%20feathered.jpg" style="float: right; height: 301px; width: 300px; "
    p style="margin-left: 40px; "
      |  
    div
      |  
    p style="margin-left: 40px; "
      span style="font-size:18px;"
        strong What if your biked could carry you, your stuff, your kids, help you stay healthy, save money and heal the planet?
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      span style="font-size:16px;"
        strong Xtracycle is a caro bike pioneer. Introducing a simple solution that just might change the world...
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      span style="font-size:16px;"
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      |  
    p style="margin-left: 40px; "
      strong
        span style="font-size:16px;"
          span style="color: rgb(0, 0, 0); font-family: Helvetica; "
    p
      |  
    p
      img alt="" src="http://thebikedepot.org/images/0228131308.jpg" style="height: 225px; width: 300px; margin: 30px; float: left; "
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      span style="font-size:16px;"
        | 20" Specialized Hardrock: with Xtracycle Eco Kit -
        strong $699
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      img alt="" src="http://thebikedepot.org/images/0228131301.jpg" style="height: 225px; width: 300px; margin: 30px; float: left; "
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      span style="color: rgb(0, 0, 0); font-family: Helvetica; font-size: medium; "
        | 19" Performance Transit Hybrid Bike, 8spd Internal Hub: with Xtracycle Free Loader Kit -
        strong $799
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      img alt="" src="http://thebikedepot.org/images/0228131302.jpg" style="height: 225px; width: 300px; margin: 30px; float: left; "
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      span style="color: rgb(0, 0, 0); font-family: Helvetica; font-size: medium; "
        | 16" Trek 7000: with Xtracycle Eco Kit -
        strong $699 
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
    p
      |  
